In [3]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

In [4]:
engine=create_engine('mysql+pymysql://root:Cuiqin:233@localhost:3306/testdb?charset=utf8',encoding='utf-8',echo=True)
print(engine)

Engine(mysql+pymysql://root:***@localhost:3306/testdb?charset=utf8)

In [5]:
detail = pd.read_sql_table('meal_order_detail1',
                          con=engine)
detailGroup = detail[['order_id','counts',
                     'amounts']].groupby(by='order_id')
print('分组以后',detailGroup)

2020-03-19 08:22:59,356 INFO sqlalchemy.engine.base.Engine SHOW VARIABLES LIKE 'sql_mode'
2020-03-19 08:22:59,357 INFO sqlalchemy.engine.base.Engine {}
2020-03-19 08:22:59,374 INFO sqlalchemy.engine.base.Engine SHOW VARIABLES LIKE 'lower_case_table_names'
2020-03-19 08:22:59,374 INFO sqlalchemy.engine.base.Engine {}
2020-03-19 08:22:59,379 INFO sqlalchemy.engine.base.Engine SELECT DATABASE()
2020-03-19 08:22:59,380 INFO sqlalchemy.engine.base.Engine {}
2020-03-19 08:22:59,382 INFO sqlalchemy.engine.base.Engine show collation where `Charset` = 'utf8mb4' and `Collation` = 'utf8mb4_bin'
2020-03-19 08:22:59,384 INFO sqlalchemy.engine.base.Engine {}
2020-03-19 08:22:59,393 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS CHAR(60)) AS anon_1
2020-03-19 08:22:59,393 INFO sqlalchemy.engine.base.Engine {}
2020-03-19 08:22:59,395 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS CHAR(60)) AS anon_1
2020-03-19 08:22:59,396 INFO sqlalchemy.engine.base.Engine {}
2020-03-19 08:22:59,397 INFO sqlalchemy.engine.base.Engine SELECT CAST('test collated returns' AS CHAR CHARACTER SET utf8mb4) COLLATE utf8mb4_bin AS anon_1
2020-03-19 08:22:59,398 INFO sqlalchemy.engine.base.Engine {}
2020-03-19 08:22:59,401 INFO sqlalchemy.engine.base.Engine SHOW FULL TABLES FROM `testdb`
2020-03-19 08:22:59,402 INFO sqlalchemy.engine.base.Engine {}
2020-03-19 08:22:59,411 INFO sqlalchemy.engine.base.Engine SHOW FULL TABLES FROM `testdb`
2020-03-19 08:22:59,411 INFO sqlalchemy.engine.base.Engine {}
2020-03-19 08:22:59,423 INFO sqlalchemy.engine.base.Engine SHOW CREATE TABLE `meal_order_detail1`
2020-03-19 08:22:59,424 INFO sqlalchemy.engine.base.Engine {}
2020-03-19 08:22:59,435 INFO sqlalchemy.engine.base.Engine SELECT meal_order_detail1.detail_id, meal_order_detail1.order_id, meal_order_detail1.dishes_id, meal_order_detail1.logicprn_name, meal_order_detail1.parent_class_name, meal_order_detail1.dishes_name, meal_order_detail1.itemis_add, meal_order_detail1.counts, meal_order_detail1.amounts, meal_order_detail1.cost, meal_order_detail1.place_order_time, meal_order_detail1.discount_amt, meal_order_detail1.discount_reason, meal_order_detail1.kick_back, meal_order_detail1.add_inprice, meal_order_detail1.add_info, meal_order_detail1.bar_code, meal_order_detail1.picture_file, meal_order_detail1.emp_id
FROM meal_order_detail1
2020-03-19 08:22:59,436 INFO sqlalchemy.engine.base.Engine {}
分组以后 <pandas.core.groupby.generic.DataFrameGroupBy object at 0x0000027381E67EC8>

S:\Anaconda\lib\site-packages\pymysql\cursors.py:170: Warning: (3719, "'utf8' is currently an alias for the character set UTF8MB3, but will be an alias for UTF8MB4 in a future release. Please consider using UTF8MB4 in order to be unambiguous.")
  result = self._query(query)
S:\Anaconda\lib\site-packages\pymysql\cursors.py:170: Warning: (1366, "Incorrect string value: '\\xD6\\xD0\\xB9\\xFA\\xB1\\xEA...' for column 'VARIABLE_VALUE' at row 1")
  result = self._query(query)

In [6]:
print('前五组每组的均值：\n',detailGroup.mean().head())

前五组每组的均值：
           counts  amounts
order_id
1002      1.0000   32.000
1003      1.2500   30.125
1004      1.0625   43.875
1008      1.0000   63.000
1011      1.0000   57.700

In [7]:
print('每组均值：detailGroup',detailGroup.mean().head())

每组均值：detailGroup           counts  amounts
order_id
1002      1.0000   32.000
1003      1.2500   30.125
1004      1.0625   43.875
1008      1.0000   63.000
1011      1.0000   57.700

In [8]:
print('订单详情表分组后前五组每组的标准差：\n',
     detailGroup.std().head())

订单详情表分组后前五组每组的标准差：
            counts    amounts
order_id
1002      0.00000  16.000000
1003      0.46291  21.383822
1004      0.25000  31.195886
1008      0.00000  64.880660
1011      0.00000  50.077828

In [9]:
print('订单详情表分组后每5组的大小为：\n',
     detailGroup.size().head())

订单详情表分组后每5组的大小为：
 order_id
1002     7
1003     8
1004    16
1008     5
1011    10
dtype: int64

## agg

In [10]:
print('菜品销售与售价的和与均值:\n',
     detail[['counts','amounts']].agg([np.sum,np.mean]))

菜品销售与售价的和与均值:
            counts        amounts
sum   3088.000000  125992.000000
mean     1.111191      45.337172

In [11]:
print('订单详情表的菜品销售总和与售价的均值：\n',
    detail.agg({'counts':np.sum,'amounts':np.mean})) # 第二种分别求字段

订单详情表的菜品销售总和与售价的均值：
 counts     3088.000000
amounts      45.337172
dtype: float64

In [12]:
print('菜品订单详情表的菜品销售综合与售价的总和与均值为:\n',
     detail.agg({'counts':np.sum,'amounts':[np.mean,np.sum]}))

菜品订单详情表的菜品销售综合与售价的总和与均值为:
       counts        amounts
mean     NaN      45.337172
sum   3088.0  125992.000000

In [13]:
# 自定义函数求两倍的和
def DoubleSum(data):
    s = data.sum()*2
    return s
print("销售总和两倍：\n",
     detail.agg({'counts':DoubleSum},axis=0))

销售总和两倍：
 counts    6176.0
dtype: float64

In [14]:
def DoubleSum_np(data):
    s = np.sum(data)*2
    return s
print('销售总和两倍:\n',
     detail.agg({'counts':DoubleSum_np},axis=0).head())

销售总和两倍:
    counts
0     2.0
1     2.0
2     2.0
3     2.0
4     2.0

In [15]:
print('销售与售价的和的两倍为:\n',
     detail[['counts','amounts']].agg(DoubleSum_np))

销售与售价的和的两倍为:
 counts       6176.0
amounts    251984.0
dtype: float64

In [16]:
print('订单详情表分组后前3组每组的均值为：\n',
     detailGroup.agg(np.mean).head(3))

订单详情表分组后前3组每组的均值为：
           counts  amounts
order_id
1002      1.0000   32.000
1003      1.2500   30.125
1004      1.0625   43.875

In [18]:
print('订单详情分组前3足每组菜品总数和售价均值为:\n',
     detailGroup.agg({'counts':np.sum,'amounts':np.mean}).head(3))

订单详情分组前3足每组菜品总数和售价均值为:
           counts  amounts
order_id
1002         7.0   32.000
1003        10.0   30.125
1004        17.0   43.875

## apply聚合数据

In [19]:
print('订单详情表的菜品销售与售价的均值为：\n',
     detail[['counts','amounts']].apply(np.mean))

订单详情表的菜品销售与售价的均值为：
 counts      1.111191
amounts    45.337172
dtype: float64

In [20]:
print('订单详情表分组后前3组每组的均值为:\n',
     detailGroup.apply(np.mean).head(3))

订单详情表分组后前3组每组的均值为:
               order_id  counts  amounts
order_id
1002      1.431572e+26  1.0000   32.000
1003      1.253875e+30  1.2500   30.125
1004      6.275628e+61  1.0625   43.875

In [21]:
print('订单详情表分组后前3组每组的标准差为:\n',
     detailGroup.apply(np.std).head(3))

订单详情表分组后前3组每组的标准差为:
             counts    amounts
order_id
1002      0.000000  14.813122
1003      0.433013  20.002734
1004      0.242061  30.205287

In [22]:
# transform聚合
print('彩屏销售与售价的两倍为：\n',
     detail[['counts','amounts']].transform(
     lambda x:x*2).head(4))

彩屏销售与售价的两倍为：
    counts  amounts
0     2.0     98.0
1     2.0     96.0
2     2.0     60.0
3     2.0     50.0

In [25]:
print('分组后实现内离差标准化后前5行：\n',
     detailGroup.transform(lambda x:(x.mean()-x.min())/(x.max()-x.min())).head())

ZeroDivisionError: ('float division by zero', 'occurred at index counts')

# 任务实现

## 按照时间对菜品订单详情表进行拆分

In [33]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
engine=create_engine('mysql+pymysql://root:Cuiqin:233@localhost:3306/testdb?charset=utf8',encoding="utf-8",echo=True)
detail = pd.read_sql_table('meal_order_detail1',con=engine)
detail['place_order_time'] = pd.to_datetime(
detail['place_order_time'])
detail['date'] = [i.date() for i in detail['place_order_time']]
detailGroup = detail[['date','counts','amounts']].groupby(by='date')
print('前五组每组的数目为：\n',
     detailGroup.size().head())

2020-03-19 08:50:57,692 INFO sqlalchemy.engine.base.Engine SHOW VARIABLES LIKE 'sql_mode'
2020-03-19 08:50:57,692 INFO sqlalchemy.engine.base.Engine {}
2020-03-19 08:50:57,696 INFO sqlalchemy.engine.base.Engine SHOW VARIABLES LIKE 'lower_case_table_names'
2020-03-19 08:50:57,696 INFO sqlalchemy.engine.base.Engine {}
2020-03-19 08:50:57,699 INFO sqlalchemy.engine.base.Engine SELECT DATABASE()
2020-03-19 08:50:57,700 INFO sqlalchemy.engine.base.Engine {}
2020-03-19 08:50:57,701 INFO sqlalchemy.engine.base.Engine show collation where `Charset` = 'utf8mb4' and `Collation` = 'utf8mb4_bin'
2020-03-19 08:50:57,701 INFO sqlalchemy.engine.base.Engine {}
2020-03-19 08:50:57,705 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS CHAR(60)) AS anon_1
2020-03-19 08:50:57,706 INFO sqlalchemy.engine.base.Engine {}
2020-03-19 08:50:57,707 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS CHAR(60)) AS anon_1
2020-03-19 08:50:57,707 INFO sqlalchemy.engine.base.Engine {}
2020-03-19 08:50:57,709 INFO sqlalchemy.engine.base.Engine SELECT CAST('test collated returns' AS CHAR CHARACTER SET utf8mb4) COLLATE utf8mb4_bin AS anon_1
2020-03-19 08:50:57,710 INFO sqlalchemy.engine.base.Engine {}
2020-03-19 08:50:57,713 INFO sqlalchemy.engine.base.Engine SHOW FULL TABLES FROM `testdb`
2020-03-19 08:50:57,714 INFO sqlalchemy.engine.base.Engine {}
2020-03-19 08:50:57,718 INFO sqlalchemy.engine.base.Engine SHOW FULL TABLES FROM `testdb`
2020-03-19 08:50:57,718 INFO sqlalchemy.engine.base.Engine {}
2020-03-19 08:50:57,721 INFO sqlalchemy.engine.base.Engine SHOW CREATE TABLE `meal_order_detail1`
2020-03-19 08:50:57,722 INFO sqlalchemy.engine.base.Engine {}
2020-03-19 08:50:57,726 INFO sqlalchemy.engine.base.Engine SELECT meal_order_detail1.detail_id, meal_order_detail1.order_id, meal_order_detail1.dishes_id, meal_order_detail1.logicprn_name, meal_order_detail1.parent_class_name, meal_order_detail1.dishes_name, meal_order_detail1.itemis_add, meal_order_detail1.counts, meal_order_detail1.amounts, meal_order_detail1.cost, meal_order_detail1.place_order_time, meal_order_detail1.discount_amt, meal_order_detail1.discount_reason, meal_order_detail1.kick_back, meal_order_detail1.add_inprice, meal_order_detail1.add_info, meal_order_detail1.bar_code, meal_order_detail1.picture_file, meal_order_detail1.emp_id
FROM meal_order_detail1
2020-03-19 08:50:57,727 INFO sqlalchemy.engine.base.Engine {}
前五组每组的数目为：
 date
2016-08-01    217
2016-08-02    138
2016-08-03    157
2016-08-04    144
2016-08-05    193
dtype: int64

In [35]:
dayMean = detailGroup.agg({'amounts':np.mean})
print('前五组单日菜品销售均价为：\n',dayMean.head())

前五组单日菜品销售均价为：
               amounts
date
2016-08-01  43.161290
2016-08-02  44.384058
2016-08-03  43.885350
2016-08-04  52.423611
2016-08-05  44.927461

In [37]:
dayMedian = detailGroup.agg({'amounts':np.median})
print('前5组单日菜品销售中位数为:\n',dayMedian.head())

前5组单日菜品销售中位数为:
             amounts
date
2016-08-01     33.0
2016-08-02     35.0
2016-08-03     38.0
2016-08-04     39.0
2016-08-05     37.0

In [38]:
daySaleSum = detailGroup.apply(np.sum)['counts']
print('前5组单日菜品售出数目为:\n',daySaleSum.head())

前5组单日菜品售出数目为:
 date
2016-08-01    233.0
2016-08-02    151.0
2016-08-03    192.0
2016-08-04    169.0
2016-08-05    224.0
Name: counts, dtype: float64

In [41]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
engine=create_engine('mysql+pymysql://root:Cuiqin:233@localhost:3306/testdb?charset=utf8',encoding='utf-8',echo=True)
detail = pd.read_sql_table('meal_order_detail1',
                          con=engine)
detailPivot = pd.pivot_table(detail[[
    'order_id',
    'counts',
    'amounts']],index='order_id')
print('以order_id作为分组创建的订单透视表为：\n',
     detailPivot.head())

2020-03-19 09:01:21,583 INFO sqlalchemy.engine.base.Engine SHOW VARIABLES LIKE 'sql_mode'
2020-03-19 09:01:21,584 INFO sqlalchemy.engine.base.Engine {}
2020-03-19 09:01:21,588 INFO sqlalchemy.engine.base.Engine SHOW VARIABLES LIKE 'lower_case_table_names'
2020-03-19 09:01:21,589 INFO sqlalchemy.engine.base.Engine {}
2020-03-19 09:01:21,593 INFO sqlalchemy.engine.base.Engine SELECT DATABASE()
2020-03-19 09:01:21,594 INFO sqlalchemy.engine.base.Engine {}
2020-03-19 09:01:21,595 INFO sqlalchemy.engine.base.Engine show collation where `Charset` = 'utf8mb4' and `Collation` = 'utf8mb4_bin'
2020-03-19 09:01:21,596 INFO sqlalchemy.engine.base.Engine {}
2020-03-19 09:01:21,600 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS CHAR(60)) AS anon_1
2020-03-19 09:01:21,601 INFO sqlalchemy.engine.base.Engine {}
2020-03-19 09:01:21,602 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS CHAR(60)) AS anon_1
2020-03-19 09:01:21,602 INFO sqlalchemy.engine.base.Engine {}
2020-03-19 09:01:21,603 INFO sqlalchemy.engine.base.Engine SELECT CAST('test collated returns' AS CHAR CHARACTER SET utf8mb4) COLLATE utf8mb4_bin AS anon_1
2020-03-19 09:01:21,604 INFO sqlalchemy.engine.base.Engine {}
2020-03-19 09:01:21,606 INFO sqlalchemy.engine.base.Engine SHOW FULL TABLES FROM `testdb`
2020-03-19 09:01:21,607 INFO sqlalchemy.engine.base.Engine {}
2020-03-19 09:01:21,611 INFO sqlalchemy.engine.base.Engine SHOW FULL TABLES FROM `testdb`
2020-03-19 09:01:21,612 INFO sqlalchemy.engine.base.Engine {}
2020-03-19 09:01:21,615 INFO sqlalchemy.engine.base.Engine SHOW CREATE TABLE `meal_order_detail1`
2020-03-19 09:01:21,616 INFO sqlalchemy.engine.base.Engine {}
2020-03-19 09:01:21,621 INFO sqlalchemy.engine.base.Engine SELECT meal_order_detail1.detail_id, meal_order_detail1.order_id, meal_order_detail1.dishes_id, meal_order_detail1.logicprn_name, meal_order_detail1.parent_class_name, meal_order_detail1.dishes_name, meal_order_detail1.itemis_add, meal_order_detail1.counts, meal_order_detail1.amounts, meal_order_detail1.cost, meal_order_detail1.place_order_time, meal_order_detail1.discount_amt, meal_order_detail1.discount_reason, meal_order_detail1.kick_back, meal_order_detail1.add_inprice, meal_order_detail1.add_info, meal_order_detail1.bar_code, meal_order_detail1.picture_file, meal_order_detail1.emp_id
FROM meal_order_detail1
2020-03-19 09:01:21,623 INFO sqlalchemy.engine.base.Engine {}
以order_id作为分组创建的订单透视表为：
           amounts  counts
order_id
1002       32.000  1.0000
1003       30.125  1.2500
1004       43.875  1.0625
1008       63.000  1.0000
1011       57.700  1.0000

S:\Anaconda\lib\site-packages\pymysql\cursors.py:170: Warning: (3719, "'utf8' is currently an alias for the character set UTF8MB3, but will be an alias for UTF8MB4 in a future release. Please consider using UTF8MB4 in order to be unambiguous.")
  result = self._query(query)
S:\Anaconda\lib\site-packages\pymysql\cursors.py:170: Warning: (1366, "Incorrect string value: '\\xD6\\xD0\\xB9\\xFA\\xB1\\xEA...' for column 'VARIABLE_VALUE' at row 1")
  result = self._query(query)

In [43]:
detailPivot1 = pd.pivot_table(detail[[
    'order_id',
    'counts',
    'amounts'
]],index='order_id',aggfunc=np.sum)
print('order_id作为分组键创建的订单销售与售价总和透视表为:\n',
     detailPivot1.head())

order_id作为分组键创建的订单销售与售价总和透视表为:
           amounts  counts
order_id
1002        224.0     7.0
1003        241.0    10.0
1004        702.0    17.0
1008        315.0     5.0
1011        577.0    10.0

In [48]:
detailPivot2 = pd.pivot_table(detail[[
    'order_id','dishes_name',
    'counts','amounts'
]],index=['order_id','dishes_name'
         ],aggfunc=np.sum)
print('两个索引值创建的查询操作的透视表为：\n',
     detailPivot2.head())

两个索引值创建的查询操作的透视表为：
                       amounts  counts
order_id dishes_name
1002     凉拌菠菜            27.0     1.0
         南瓜枸杞小饼干         19.0     1.0
         焖猪手             58.0     1.0
         独家薄荷鲜虾牛肉卷       45.0     1.0
         白胡椒胡萝卜羊肉汤       35.0     1.0

In [50]:
detailPiovt2 = pd.pivot_table(detail[[
    'order_id','dishes_name','counts','amounts'
    ]],index='order_id',columns='dishes_name',aggfunc=np.sum)
print('order_id+dishes_name：\n',detailPiovt2.iloc[:5,:4])

order_id+dishes_name：
             amounts
dishes_name  42度海之蓝  北冰洋汽水  38度剑南春  50度古井贡酒
order_id
1002            NaN     NaN     NaN     NaN
1003            NaN     NaN     NaN     NaN
1004            NaN     NaN     NaN     NaN
1008            NaN     NaN     NaN     NaN
1011           99.0     NaN     NaN     NaN

In [53]:
detailPivot4=pd.pivot_table(detail[[
    'order_id','dishes_name','counts','amounts'
]],index='order_id',values='counts',aggfunc=np.sum)
print('透视前5行：\n',detailPivot4.head())

透视前5行：
           counts
order_id
1002         7.0
1003        10.0
1004        17.0
1008         5.0
1011        10.0

In [56]:
detailPiovt5=pd.pivot_table(detail[[
    'order_id','dishes_name','counts','amounts'
]],index='order_id',columns='dishes_name',aggfunc=np.sum,fill_value=0)
print(detailPiovt5.iloc[:5,:4])

            amounts
dishes_name  42度海之蓝  北冰洋汽水  38度剑南春  50度古井贡酒
order_id
1002              0       0       0       0
1003              0       0       0       0
1004              0       0       0       0
1008              0       0       0       0
1011             99       0       0       0

In [58]:
#透视表中添加汇总数据
detailPivot6=pd.pivot_table(detail[[
    'order_id','dishes_name','counts','amounts'
]],index='order_id',columns='dishes_name',aggfunc=np.sum,fill_value=0,margins=True)
print('分组(order_id and dishes_name)：\n',detailPivot6.iloc[:5,-4:])

分组(order_id and dishes_name)：
             counts
dishes_name 黄油曲奇饼干 黄花菜炒木耳 黑米恋上葡萄   All
order_id
1002             0      0      0   7.0
1003             0      0      0  10.0
1004             0      1      0  17.0
1008             0      0      0   5.0
1011             0      0      0  10.0

In [62]:
# crosstable 制作 交叉表
detailCross = pd.crosstab(index=detail['order_id'],columns=detail['dishes_name'],values=detail['counts'],aggfunc=np.sum)
print(detailCross.iloc[:5,:5])

dishes_name   42度海之蓝   北冰洋汽水   38度剑南春   50度古井贡酒  52度泸州老窖
order_id
1002             NaN      NaN      NaN      NaN       NaN
1003             NaN      NaN      NaN      NaN       NaN
1004             NaN      NaN      NaN      NaN       NaN
1008             NaN      NaN      NaN      NaN       NaN
1011             1.0      NaN      NaN      NaN       NaN

# 任务实现2

In [64]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
engine=create_engine('mysql+pymysql://root:Cuiqin:233@localhost:3306/testdb?charset=utf8',encoding='utf-8',echo=True)
detail = pd.read_sql_table('meal_order_detail1',con=engine)
detail['place_order_time']=pd.to_datetime(detail['place_order_time'])
detail['date'] = [i.date() for i in detail['place_order_time']]
PivotDetail = pd.pivot_table(detail[[
    'date','dishes_name','counts','amounts'
]],index='date',aggfunc=np.sum,margins=True)
print(PivotDetail.head())

2020-03-19 09:31:48,743 INFO sqlalchemy.engine.base.Engine SHOW VARIABLES LIKE 'sql_mode'
2020-03-19 09:31:48,745 INFO sqlalchemy.engine.base.Engine {}
2020-03-19 09:31:48,748 INFO sqlalchemy.engine.base.Engine SHOW VARIABLES LIKE 'lower_case_table_names'
2020-03-19 09:31:48,748 INFO sqlalchemy.engine.base.Engine {}
2020-03-19 09:31:48,753 INFO sqlalchemy.engine.base.Engine SELECT DATABASE()
2020-03-19 09:31:48,753 INFO sqlalchemy.engine.base.Engine {}
2020-03-19 09:31:48,755 INFO sqlalchemy.engine.base.Engine show collation where `Charset` = 'utf8mb4' and `Collation` = 'utf8mb4_bin'
2020-03-19 09:31:48,756 INFO sqlalchemy.engine.base.Engine {}
2020-03-19 09:31:48,759 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS CHAR(60)) AS anon_1
2020-03-19 09:31:48,760 INFO sqlalchemy.engine.base.Engine {}
2020-03-19 09:31:48,761 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS CHAR(60)) AS anon_1
2020-03-19 09:31:48,762 INFO sqlalchemy.engine.base.Engine {}
2020-03-19 09:31:48,763 INFO sqlalchemy.engine.base.Engine SELECT CAST('test collated returns' AS CHAR CHARACTER SET utf8mb4) COLLATE utf8mb4_bin AS anon_1
2020-03-19 09:31:48,764 INFO sqlalchemy.engine.base.Engine {}
2020-03-19 09:31:48,765 INFO sqlalchemy.engine.base.Engine SHOW FULL TABLES FROM `testdb`
2020-03-19 09:31:48,765 INFO sqlalchemy.engine.base.Engine {}
2020-03-19 09:31:48,768 INFO sqlalchemy.engine.base.Engine SHOW FULL TABLES FROM `testdb`
2020-03-19 09:31:48,768 INFO sqlalchemy.engine.base.Engine {}
2020-03-19 09:31:48,770 INFO sqlalchemy.engine.base.Engine SHOW CREATE TABLE `meal_order_detail1`
2020-03-19 09:31:48,771 INFO sqlalchemy.engine.base.Engine {}
2020-03-19 09:31:48,775 INFO sqlalchemy.engine.base.Engine SELECT meal_order_detail1.detail_id, meal_order_detail1.order_id, meal_order_detail1.dishes_id, meal_order_detail1.logicprn_name, meal_order_detail1.parent_class_name, meal_order_detail1.dishes_name, meal_order_detail1.itemis_add, meal_order_detail1.counts, meal_order_detail1.amounts, meal_order_detail1.cost, meal_order_detail1.place_order_time, meal_order_detail1.discount_amt, meal_order_detail1.discount_reason, meal_order_detail1.kick_back, meal_order_detail1.add_inprice, meal_order_detail1.add_info, meal_order_detail1.bar_code, meal_order_detail1.picture_file, meal_order_detail1.emp_id
FROM meal_order_detail1
2020-03-19 09:31:48,776 INFO sqlalchemy.engine.base.Engine {}
            amounts  counts
date
2016-08-01   9366.0   233.0
2016-08-02   6125.0   151.0
2016-08-03   6890.0   192.0
2016-08-04   7549.0   169.0
2016-08-05   8671.0   224.0

In [68]:
CrossDetail1 = pd.crosstab(index=detail['date'],
                            columns=detail['dishes_name'],values=detail['amounts'],aggfunc=np.sum,margins=True)
print('单个菜品单日成交总额交叉表后5，5：\n',
     CrossDetail1.iloc[-5,-5:])

单个菜品单日成交总额交叉表后5，5：
 dishes_name
黄尾袋鼠西拉子红葡萄酒      230.0
黄油曲奇饼干            32.0
黄花菜炒木耳           105.0
黑米恋上葡萄            99.0
All            31306.0
Name: 2016-08-07, dtype: float64