In [2]:
from sqlalchemy import create_engine
import pandas as pd

In [3]:
engine=create_engine("mysql+pymysql://root:Cuiqin:233@localhost:3306/testdb?charset=utf8",encoding="utf-8",echo=True)
print(engine)

Engine(mysql+pymysql://root:***@localhost:3306/testdb?charset=utf8)

In [4]:
# 执行语句
formlist = pd.read_sql_query('show tables', con=engine)
print(formlist)

2020-03-14 20:44:33,884 INFO sqlalchemy.engine.base.Engine SHOW VARIABLES LIKE 'sql_mode'
2020-03-14 20:44:33,884 INFO sqlalchemy.engine.base.Engine {}
2020-03-14 20:44:33,894 INFO sqlalchemy.engine.base.Engine SHOW VARIABLES LIKE 'lower_case_table_names'
2020-03-14 20:44:33,894 INFO sqlalchemy.engine.base.Engine {}
2020-03-14 20:44:33,897 INFO sqlalchemy.engine.base.Engine SELECT DATABASE()
2020-03-14 20:44:33,898 INFO sqlalchemy.engine.base.Engine {}
2020-03-14 20:44:33,899 INFO sqlalchemy.engine.base.Engine show collation where `Charset` = 'utf8mb4' and `Collation` = 'utf8mb4_bin'
2020-03-14 20:44:33,900 INFO sqlalchemy.engine.base.Engine {}
2020-03-14 20:44:33,904 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS CHAR(60)) AS anon_1
2020-03-14 20:44:33,905 INFO sqlalchemy.engine.base.Engine {}
2020-03-14 20:44:33,906 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS CHAR(60)) AS anon_1
2020-03-14 20:44:33,907 INFO sqlalchemy.engine.base.Engine {}
2020-03-14 20:44:33,909 INFO sqlalchemy.engine.base.Engine SELECT CAST('test collated returns' AS CHAR CHARACTER SET utf8mb4) COLLATE utf8mb4_bin AS anon_1
2020-03-14 20:44:33,910 INFO sqlalchemy.engine.base.Engine {}
2020-03-14 20:44:33,910 INFO sqlalchemy.engine.base.Engine show tables
2020-03-14 20:44:33,910 INFO sqlalchemy.engine.base.Engine {}
     Tables_in_testdb
0  meal_order_detail1
1  meal_order_detail2
2  meal_order_detail3
3               test1

S:\Anaconda\lib\site-packages\pymysql\cursors.py:170: Warning: (3719, "'utf8' is currently an alias for the character set UTF8MB3, but will be an alias for UTF8MB4 in a future release. Please consider using UTF8MB4 in order to be unambiguous.")
  result = self._query(query)
S:\Anaconda\lib\site-packages\pymysql\cursors.py:170: Warning: (1366, "Incorrect string value: '\\xD6\\xD0\\xB9\\xFA\\xB1\\xEA...' for column 'VARIABLE_VALUE' at row 1")
  result = self._query(query)

In [5]:
# 获取订单详情
detail1 = pd.read_sql_table('meal_order_detail1',con=engine)
print(len(detail1))

2020-03-14 20:44:34,359 INFO sqlalchemy.engine.base.Engine SHOW FULL TABLES FROM `testdb`
2020-03-14 20:44:34,360 INFO sqlalchemy.engine.base.Engine {}
2020-03-14 20:44:34,362 INFO sqlalchemy.engine.base.Engine SHOW FULL TABLES FROM `testdb`
2020-03-14 20:44:34,363 INFO sqlalchemy.engine.base.Engine {}
2020-03-14 20:44:34,375 INFO sqlalchemy.engine.base.Engine SHOW CREATE TABLE `meal_order_detail1`
2020-03-14 20:44:34,375 INFO sqlalchemy.engine.base.Engine {}
2020-03-14 20:44:34,384 INFO sqlalchemy.engine.base.Engine SELECT meal_order_detail1.detail_id, meal_order_detail1.order_id, meal_order_detail1.dishes_id, meal_order_detail1.logicprn_name, meal_order_detail1.parent_class_name, meal_order_detail1.dishes_name, meal_order_detail1.itemis_add, meal_order_detail1.counts, meal_order_detail1.amounts, meal_order_detail1.cost, meal_order_detail1.place_order_time, meal_order_detail1.discount_amt, meal_order_detail1.discount_reason, meal_order_detail1.kick_back, meal_order_detail1.add_inprice, meal_order_detail1.add_info, meal_order_detail1.bar_code, meal_order_detail1.picture_file, meal_order_detail1.emp_id
FROM meal_order_detail1
2020-03-14 20:44:34,385 INFO sqlalchemy.engine.base.Engine {}
2779

In [6]:
# 使用read_sql读取订单详情表
detail2 = pd.read_sql('select * from meal_order_detail2',con=engine)
print(len(detail2))
detail3 = pd.read_sql('meal_order_detail3',con=engine)
print("使用函数+表格名称读取长度",detail3)

2020-03-14 20:44:34,830 INFO sqlalchemy.engine.base.Engine DESCRIBE `select * from meal_order_detail2`
2020-03-14 20:44:34,830 INFO sqlalchemy.engine.base.Engine {}
2020-03-14 20:44:34,841 INFO sqlalchemy.engine.base.Engine ROLLBACK
2020-03-14 20:44:34,841 INFO sqlalchemy.engine.base.Engine select * from meal_order_detail2
2020-03-14 20:44:34,841 INFO sqlalchemy.engine.base.Engine {}
3647
2020-03-14 20:44:34,957 INFO sqlalchemy.engine.base.Engine DESCRIBE `meal_order_detail3`
2020-03-14 20:44:34,957 INFO sqlalchemy.engine.base.Engine {}
2020-03-14 20:44:34,972 INFO sqlalchemy.engine.base.Engine SHOW FULL TABLES FROM `testdb`
2020-03-14 20:44:34,973 INFO sqlalchemy.engine.base.Engine {}
2020-03-14 20:44:34,974 INFO sqlalchemy.engine.base.Engine SHOW CREATE TABLE `meal_order_detail3`
2020-03-14 20:44:34,974 INFO sqlalchemy.engine.base.Engine {}
2020-03-14 20:44:34,980 INFO sqlalchemy.engine.base.Engine SELECT meal_order_detail3.detail_id, meal_order_detail3.order_id, meal_order_detail3.dishes_id, meal_order_detail3.logicprn_name, meal_order_detail3.parent_class_name, meal_order_detail3.dishes_name, meal_order_detail3.itemis_add, meal_order_detail3.counts, meal_order_detail3.amounts, meal_order_detail3.cost, meal_order_detail3.place_order_time, meal_order_detail3.discount_amt, meal_order_detail3.discount_reason, meal_order_detail3.kick_back, meal_order_detail3.add_inprice, meal_order_detail3.add_info, meal_order_detail3.bar_code, meal_order_detail3.picture_file, meal_order_detail3.emp_id
FROM meal_order_detail3
2020-03-14 20:44:34,981 INFO sqlalchemy.engine.base.Engine {}
使用函数+表格名称读取长度      detail_id order_id dishes_id logicprn_name parent_class_name  \
0         3085      431    609966            NA                NA
1         3086      431    609942            NA                NA
2         3088      431    609970            NA                NA
3         3091      431    609956            NA                NA
4         3094      431    609957            NA                NA
...        ...      ...       ...           ...               ...
3606      5683      672    610049            NA                NA
3607      5686      672    609959            NA                NA
3608      5379      647    610012            NA                NA
3609      5380      647    610054            NA                NA
3610      5688      672    609953            NA                NA

            dishes_name itemis_add  counts  amounts cost    place_order_time  \
0              芝士烩波士顿龙虾          0     1.0    175.0   NA 2016-08-21 11:16:00
1                  辣炒鱿鱼          0     1.0     58.0   NA 2016-08-21 11:17:00
2                 麻辣小龙虾          0     1.0     99.0   NA 2016-08-21 11:18:00
3                  孜然羊排          0     1.0     88.0   NA 2016-08-21 11:20:00
4     蒙古烤羊腿\r\n\r\n\r\n          0     1.0     48.0   NA 2016-08-21 11:20:00
...                 ...        ...     ...      ...  ...                 ...
3606               爆炒双丝          0     1.0     35.0   NA 2016-08-31 21:53:00
3607   小炒羊腰\r\n\r\n\r\n          0     1.0     36.0   NA 2016-08-31 21:54:00
3608              香菇鹌鹑蛋          0     1.0     39.0   NA 2016-08-31 21:54:00
3609         不加一滴油的酸奶蛋糕          0     1.0      7.0   NA 2016-08-31 21:55:00
3610               凉拌菠菜          0     1.0     27.0   NA 2016-08-31 21:56:00

     discount_amt discount_reason kick_back add_inprice add_info bar_code  \
0              NA              NA        NA           0       NA       NA
1              NA              NA        NA           0       NA       NA
2              NA              NA        NA           0       NA       NA
3              NA              NA        NA           0       NA       NA
4              NA              NA        NA           0       NA       NA
...           ...             ...       ...         ...      ...      ...
3606           NA              NA        NA           0       NA       NA
3607           NA              NA        NA           0       NA       NA
3608           NA              NA        NA           0       NA       NA
3609           NA              NA        NA           0       NA       NA
3610           NA              NA        NA           0       NA       NA

          picture_file emp_id
0     caipu/101001.jpg   1579
1     caipu/103003.jpg   1579
2     caipu/101006.jpg   1579
3     caipu/202002.jpg   1579
4     caipu/202003.jpg   1579
...                ...    ...
3606  caipu/301003.jpg   1089
3607  caipu/202005.jpg   1089
3608  caipu/302001.jpg   1094
3609  caipu/501003.jpg   1094
3610  caipu/303004.jpg   1089

[3611 rows x 19 columns]

## to_sql写入数据

In [7]:
detail1.to_sql('test1',con=engine,index=False,if_exists='replace')
# 读取
formlist1 = pd.read_sql_query('show tables',con=engine)
print('新增表',formlist1)

2020-03-14 20:44:35,691 INFO sqlalchemy.engine.base.Engine DESCRIBE `test1`
2020-03-14 20:44:35,692 INFO sqlalchemy.engine.base.Engine {}
2020-03-14 20:44:35,702 INFO sqlalchemy.engine.base.Engine DESCRIBE `test1`
2020-03-14 20:44:35,704 INFO sqlalchemy.engine.base.Engine {}
2020-03-14 20:44:35,707 INFO sqlalchemy.engine.base.Engine SHOW FULL TABLES FROM `testdb`
2020-03-14 20:44:35,708 INFO sqlalchemy.engine.base.Engine {}
2020-03-14 20:44:35,711 INFO sqlalchemy.engine.base.Engine SHOW CREATE TABLE `test1`
2020-03-14 20:44:35,712 INFO sqlalchemy.engine.base.Engine {}
2020-03-14 20:44:35,717 INFO sqlalchemy.engine.base.Engine
DROP TABLE test1
2020-03-14 20:44:35,717 INFO sqlalchemy.engine.base.Engine {}
2020-03-14 20:44:35,737 INFO sqlalchemy.engine.base.Engine COMMIT
2020-03-14 20:44:35,741 INFO sqlalchemy.engine.base.Engine
CREATE TABLE test1 (
	detail_id TEXT,
	order_id TEXT,
	dishes_id TEXT,
	logicprn_name TEXT,
	parent_class_name TEXT,
	dishes_name TEXT,
	itemis_add TEXT,
	counts FLOAT(53),
	amounts FLOAT(53),
	cost TEXT,
	place_order_time DATETIME,
	discount_amt TEXT,
	discount_reason TEXT,
	kick_back TEXT,
	add_inprice TEXT,
	add_info TEXT,
	bar_code TEXT,
	picture_file TEXT,
	emp_id TEXT
)


2020-03-14 20:44:35,742 INFO sqlalchemy.engine.base.Engine {}
2020-03-14 20:44:35,771 INFO sqlalchemy.engine.base.Engine COMMIT
2020-03-14 20:44:35,776 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-03-14 20:44:35,850 INFO sqlalchemy.engine.base.Engine INSERT INTO test1 (detail_id, order_id, dishes_id, logicprn_name, parent_class_name, dishes_name, itemis_add, counts, amounts, cost, place_order_time, discount_amt, discount_reason, kick_back, add_inprice, add_info, bar_code, picture_file, emp_id) VALUES (%(detail_id)s, %(order_id)s, %(dishes_id)s, %(logicprn_name)s, %(parent_class_name)s, %(dishes_name)s, %(itemis_add)s, %(counts)s, %(amounts)s, %(cost)s, %(place_order_time)s, %(discount_amt)s, %(discount_reason)s, %(kick_back)s, %(add_inprice)s, %(add_info)s, %(bar_code)s, %(picture_file)s, %(emp_id)s)
2020-03-14 20:44:35,851 INFO sqlalchemy.engine.base.Engine ({'detail_id': '2956', 'order_id': '417', 'dishes_id': '610062', 'logicprn_name': 'NA', 'parent_class_name': 'NA', 'dishes_name': '蒜蓉生蚝', 'itemis_add': '0', 'counts': 1.0, 'amounts': 49.0, 'cost': 'NA', 'place_order_time': datetime.datetime(2016, 8, 1, 11, 5), 'discount_amt': 'NA', 'discount_reason': 'NA', 'kick_back': 'NA', 'add_inprice': '0', 'add_info': 'NA', 'bar_code': 'NA', 'picture_file': 'caipu/104001.jpg', 'emp_id': '1442'}, {'detail_id': '2958', 'order_id': '417', 'dishes_id': '609957', 'logicprn_name': 'NA', 'parent_class_name': 'NA', 'dishes_name': '蒙古烤羊腿', 'itemis_add': '0', 'counts': 1.0, 'amounts': 48.0, 'cost': 'NA', 'place_order_time': datetime.datetime(2016, 8, 1, 11, 7), 'discount_amt': 'NA', 'discount_reason': 'NA', 'kick_back': 'NA', 'add_inprice': '0', 'add_info': 'NA', 'bar_code': 'NA', 'picture_file': 'caipu/202003.jpg', 'emp_id': '1442'}, {'detail_id': '2961', 'order_id': '417', 'dishes_id': '609950', 'logicprn_name': 'NA', 'parent_class_name': 'NA', 'dishes_name': '大蒜苋菜', 'itemis_add': '0', 'counts': 1.0, 'amounts': 30.0, 'cost': 'NA', 'place_order_time': datetime.datetime(2016, 8, 1, 11, 7), 'discount_amt': 'NA', 'discount_reason': 'NA', 'kick_back': 'NA', 'add_inprice': '0', 'add_info': 'NA', 'bar_code': 'NA', 'picture_file': 'caipu/303001.jpg', 'emp_id': '1442'}, {'detail_id': '2966', 'order_id': '417', 'dishes_id': '610038', 'logicprn_name': 'NA', 'parent_class_name': 'NA', 'dishes_name': '芝麻烤紫菜', 'itemis_add': '0', 'counts': 1.0, 'amounts': 25.0, 'cost': 'NA', 'place_order_time': datetime.datetime(2016, 8, 1, 11, 11), 'discount_amt': 'NA', 'discount_reason': 'NA', 'kick_back': 'NA', 'add_inprice': '0', 'add_info': 'NA', 'bar_code': 'NA', 'picture_file': 'caipu/105002.jpg', 'emp_id': '1442'}, {'detail_id': '2968', 'order_id': '417', 'dishes_id': '610003', 'logicprn_name': 'NA', 'parent_class_name': 'NA', 'dishes_name': '蒜香包', 'itemis_add': '0', 'counts': 1.0, 'amounts': 13.0, 'cost': 'NA', 'place_order_time': datetime.datetime(2016, 8, 1, 11, 11), 'discount_amt': 'NA', 'discount_reason': 'NA', 'kick_back': 'NA', 'add_inprice': '0', 'add_info': 'NA', 'bar_code': 'NA', 'picture_file': 'caipu/503002.jpg', 'emp_id': '1442'}, {'detail_id': '1899', 'order_id': '301', 'dishes_id': '610019', 'logicprn_name': 'NA', 'parent_class_name': 'NA', 'dishes_name': '白斩鸡', 'itemis_add': '0', 'counts': 1.0, 'amounts': 88.0, 'cost': 'NA', 'place_order_time': datetime.datetime(2016, 8, 1, 11, 15), 'discount_amt': 'NA', 'discount_reason': 'NA', 'kick_back': 'NA', 'add_inprice': '0', 'add_info': 'NA', 'bar_code': 'NA', 'picture_file': 'caipu/204002.jpg', 'emp_id': '1095'}, {'detail_id': '1902', 'order_id': '301', 'dishes_id': '609991', 'logicprn_name': 'NA', 'parent_class_name': 'NA', 'dishes_name': '香烤牛排', 'itemis_add': '0', 'counts': 1.0, 'amounts': 55.0, 'cost': 'NA', 'place_order_time': datetime.datetime(2016, 8, 1, 11, 19), 'discount_amt': 'NA', 'discount_reason': 'NA', 'kick_back': 'NA', 'add_inprice': '0', 'add_info': 'NA', 'bar_code': 'NA', 'picture_file': 'caipu/201001.jpg', 'emp_id': '1095'}, {'detail_id': '1906', 'order_id': '301', 'dishes_id': '609983', 'logicprn_name': 'NA', 'parent_class_name': 'NA', 'dishes_name': '干锅田鸡', 'itemis_add': '0', 'counts': 1.0, 'amounts': 88.0, 'cost': 'NA', 'place_order_time': datetime.datetime(2016, 8, 1, 11, 22), 'discount_amt': 'NA', 'discount_reason': 'NA', 'kick_back': 'NA', 'add_inprice': '0', 'add_info': 'NA', 'bar_code': 'NA', 'picture_file': 'caipu/205003.jpg', 'emp_id': '1095'}  ... displaying 10 of 2779 total bound parameter sets ...  {'detail_id': '6763', 'order_id': '774', 'dishes_id': '610014', 'logicprn_name': 'NA', 'parent_class_name': 'NA', 'dishes_name': '金玉良缘', 'itemis_add': '0', 'counts': 1.0, 'amounts': 30.0, 'cost': 'NA', 'place_order_time': datetime.datetime(2016, 8, 10, 22, 3), 'discount_amt': 'NA', 'discount_reason': 'NA', 'kick_back': 'NA', 'add_inprice': '0', 'add_info': 'NA', 'bar_code': 'NA', 'picture_file': 'caipu/302003.jpg', 'emp_id': '1138'}, {'detail_id': '6764', 'order_id': '774', 'dishes_id': '610017', 'logicprn_name': 'NA', 'parent_class_name': 'NA', 'dishes_name': '酸辣藕丁', 'itemis_add': '0', 'counts': 1.0, 'amounts': 33.0, 'cost': 'NA', 'place_order_time': datetime.datetime(2016, 8, 10, 22, 4), 'discount_amt': 'NA', 'discount_reason': 'NA', 'kick_back': 'NA', 'add_inprice': '0', 'add_info': 'NA', 'bar_code': 'NA', 'picture_file': 'caipu/302006.jpg', 'emp_id': '1138'})
2020-03-14 20:44:36,046 INFO sqlalchemy.engine.base.Engine COMMIT
2020-03-14 20:44:36,052 INFO sqlalchemy.engine.base.Engine show tables
2020-03-14 20:44:36,052 INFO sqlalchemy.engine.base.Engine {}
新增表      Tables_in_testdb
0  meal_order_detail1
1  meal_order_detail2
2  meal_order_detail3
3               test1

## DataFrame 操作

In [8]:
from sqlalchemy import create_engine
import pandas as pd

engine=create_engine("mysql+pymysql://root:Cuiqin:233@localhost:3306/testdb?charset=utf8",encoding="utf-8",echo=True)
detail = pd.read_sql_table('meal_order_detail1',con=engine)
print(detail.index)

2020-03-14 20:44:36,514 INFO sqlalchemy.engine.base.Engine SHOW VARIABLES LIKE 'sql_mode'
2020-03-14 20:44:36,515 INFO sqlalchemy.engine.base.Engine {}
2020-03-14 20:44:36,518 INFO sqlalchemy.engine.base.Engine SHOW VARIABLES LIKE 'lower_case_table_names'
2020-03-14 20:44:36,519 INFO sqlalchemy.engine.base.Engine {}
2020-03-14 20:44:36,523 INFO sqlalchemy.engine.base.Engine SELECT DATABASE()
2020-03-14 20:44:36,523 INFO sqlalchemy.engine.base.Engine {}
2020-03-14 20:44:36,524 INFO sqlalchemy.engine.base.Engine show collation where `Charset` = 'utf8mb4' and `Collation` = 'utf8mb4_bin'
2020-03-14 20:44:36,525 INFO sqlalchemy.engine.base.Engine {}
2020-03-14 20:44:36,528 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS CHAR(60)) AS anon_1
2020-03-14 20:44:36,528 INFO sqlalchemy.engine.base.Engine {}
2020-03-14 20:44:36,529 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS CHAR(60)) AS anon_1
2020-03-14 20:44:36,530 INFO sqlalchemy.engine.base.Engine {}
2020-03-14 20:44:36,531 INFO sqlalchemy.engine.base.Engine SELECT CAST('test collated returns' AS CHAR CHARACTER SET utf8mb4) COLLATE utf8mb4_bin AS anon_1
2020-03-14 20:44:36,532 INFO sqlalchemy.engine.base.Engine {}
2020-03-14 20:44:36,533 INFO sqlalchemy.engine.base.Engine SHOW FULL TABLES FROM `testdb`
2020-03-14 20:44:36,533 INFO sqlalchemy.engine.base.Engine {}
2020-03-14 20:44:36,535 INFO sqlalchemy.engine.base.Engine SHOW FULL TABLES FROM `testdb`
2020-03-14 20:44:36,536 INFO sqlalchemy.engine.base.Engine {}
2020-03-14 20:44:36,538 INFO sqlalchemy.engine.base.Engine SHOW CREATE TABLE `meal_order_detail1`
2020-03-14 20:44:36,539 INFO sqlalchemy.engine.base.Engine {}
2020-03-14 20:44:36,544 INFO sqlalchemy.engine.base.Engine SELECT meal_order_detail1.detail_id, meal_order_detail1.order_id, meal_order_detail1.dishes_id, meal_order_detail1.logicprn_name, meal_order_detail1.parent_class_name, meal_order_detail1.dishes_name, meal_order_detail1.itemis_add, meal_order_detail1.counts, meal_order_detail1.amounts, meal_order_detail1.cost, meal_order_detail1.place_order_time, meal_order_detail1.discount_amt, meal_order_detail1.discount_reason, meal_order_detail1.kick_back, meal_order_detail1.add_inprice, meal_order_detail1.add_info, meal_order_detail1.bar_code, meal_order_detail1.picture_file, meal_order_detail1.emp_id
FROM meal_order_detail1
2020-03-14 20:44:36,546 INFO sqlalchemy.engine.base.Engine {}
RangeIndex(start=0, stop=2779, step=1)

In [9]:
print(detail.values)

[['2956' '417' '610062' ... 'NA' 'caipu/104001.jpg' '1442']
 ['2958' '417' '609957' ... 'NA' 'caipu/202003.jpg' '1442']
 ['2961' '417' '609950' ... 'NA' 'caipu/303001.jpg' '1442']
 ...
 ['6756' '774' '609949' ... 'NA' 'caipu/404005.jpg' '1138']
 ['6763' '774' '610014' ... 'NA' 'caipu/302003.jpg' '1138']
 ['6764' '774' '610017' ... 'NA' 'caipu/302006.jpg' '1138']]

In [10]:
print(detail.columns)

Index(['detail_id', 'order_id', 'dishes_id', 'logicprn_name',
       'parent_class_name', 'dishes_name', 'itemis_add', 'counts', 'amounts',
       'cost', 'place_order_time', 'discount_amt', 'discount_reason',
       'kick_back', 'add_inprice', 'add_info', 'bar_code', 'picture_file',
       'emp_id'],
      dtype='object')

In [11]:
print(detail.dtypes)

detail_id                    object
order_id                     object
dishes_id                    object
logicprn_name                object
parent_class_name            object
dishes_name                  object
itemis_add                   object
counts                      float64
amounts                     float64
cost                         object
place_order_time     datetime64[ns]
discount_amt                 object
discount_reason              object
kick_back                    object
add_inprice                  object
add_info                     object
bar_code                     object
picture_file                 object
emp_id                       object
dtype: object

In [12]:
print("订单详情表",detail.size)

订单详情表 52801

In [13]:
print('维度',detail.ndim)

维度 2

In [14]:
print('形状：',detail.shape)

形状： (2779, 19)

In [15]:
print('形状',detail.shape)
print("转置后",detail.T.shape)

形状 (2779, 19)
转置后 (19, 2779)

## 查看访问数据

In [16]:
# 字典
order_id = detail['order_id']
print('详情的形状：',order_id.shape)

详情的形状： (2779,)

In [17]:
# 单列多行
dishes_name5 = detail['dishes_name'][:5]
print('前5个元素为：',dishes_name5)

前5个元素为： 0     蒜蓉生蚝
1    蒙古烤羊腿
2     大蒜苋菜
3    芝麻烤紫菜
4      蒜香包
Name: dishes_name, dtype: object

In [18]:
order5 = detail[:][1:6]
print(order5)

  detail_id order_id dishes_id logicprn_name parent_class_name dishes_name  \
1      2958      417    609957            NA                NA       蒙古烤羊腿
2      2961      417    609950            NA                NA        大蒜苋菜
3      2966      417    610038            NA                NA       芝麻烤紫菜
4      2968      417    610003            NA                NA         蒜香包
5      1899      301    610019            NA                NA         白斩鸡

  itemis_add  counts  amounts cost    place_order_time discount_amt  \
1          0     1.0     48.0   NA 2016-08-01 11:07:00           NA
2          0     1.0     30.0   NA 2016-08-01 11:07:00           NA
3          0     1.0     25.0   NA 2016-08-01 11:11:00           NA
4          0     1.0     13.0   NA 2016-08-01 11:11:00           NA
5          0     1.0     88.0   NA 2016-08-01 11:15:00           NA

  discount_reason kick_back add_inprice add_info bar_code      picture_file  \
1              NA        NA           0       NA       NA  caipu/202003.jpg
2              NA        NA           0       NA       NA  caipu/303001.jpg
3              NA        NA           0       NA       NA  caipu/105002.jpg
4              NA        NA           0       NA       NA  caipu/503002.jpg
5              NA        NA           0       NA       NA  caipu/204002.jpg

  emp_id
1   1442
2   1442
3   1442
4   1442
5   1095

In [19]:
print(detail.head())

  detail_id order_id dishes_id logicprn_name parent_class_name dishes_name  \
0      2956      417    610062            NA                NA        蒜蓉生蚝
1      2958      417    609957            NA                NA       蒙古烤羊腿
2      2961      417    609950            NA                NA        大蒜苋菜
3      2966      417    610038            NA                NA       芝麻烤紫菜
4      2968      417    610003            NA                NA         蒜香包

  itemis_add  counts  amounts cost    place_order_time discount_amt  \
0          0     1.0     49.0   NA 2016-08-01 11:05:00           NA
1          0     1.0     48.0   NA 2016-08-01 11:07:00           NA
2          0     1.0     30.0   NA 2016-08-01 11:07:00           NA
3          0     1.0     25.0   NA 2016-08-01 11:11:00           NA
4          0     1.0     13.0   NA 2016-08-01 11:11:00           NA

  discount_reason kick_back add_inprice add_info bar_code      picture_file  \
0              NA        NA           0       NA       NA  caipu/104001.jpg
1              NA        NA           0       NA       NA  caipu/202003.jpg
2              NA        NA           0       NA       NA  caipu/303001.jpg
3              NA        NA           0       NA       NA  caipu/105002.jpg
4              NA        NA           0       NA       NA  caipu/503002.jpg

  emp_id
0   1442
1   1442
2   1442
3   1442
4   1442

In [20]:
print(detail.tail())

     detail_id order_id dishes_id logicprn_name parent_class_name dishes_name  \
2774      6750      774    610011            NA                NA       白饭/大碗
2775      6742      774    609996            NA                NA         牛尾汤
2776      6756      774    609949            NA                NA      意文柠檬汁
2777      6763      774    610014            NA                NA        金玉良缘
2778      6764      774    610017            NA                NA        酸辣藕丁

     itemis_add  counts  amounts cost    place_order_time discount_amt  \
2774          0     1.0     10.0   NA 2016-08-10 21:56:00           NA
2775          0     1.0     40.0   NA 2016-08-10 21:56:00           NA
2776          0     1.0     13.0   NA 2016-08-10 22:01:00           NA
2777          0     1.0     30.0   NA 2016-08-10 22:03:00           NA
2778          0     1.0     33.0   NA 2016-08-10 22:04:00           NA

     discount_reason kick_back add_inprice add_info bar_code  \
2774              NA        NA           0       NA       NA
2775              NA        NA           0       NA       NA
2776              NA        NA           0       NA       NA
2777              NA        NA           0       NA       NA
2778              NA        NA           0       NA       NA

          picture_file emp_id
2774  caipu/601005.jpg   1138
2775  caipu/201006.jpg   1138
2776  caipu/404005.jpg   1138
2777  caipu/302003.jpg   1138
2778  caipu/302006.jpg   1138

In [21]:
dishes_name1 = detail.loc[:,'dishes_name']
print(dishes_name1.size)

2779

In [22]:
orderDish1 = detail.loc[:,['order_id','dishes_name']]
print(orderDish1.size)

5558

In [23]:
orderDish2 = detail.iloc[:,[1,3]]
print('1 and 3 列',orderDish1.size)

1 and 3 列 5558

In [24]:
print('行名为3的数据：',detail.loc[3,['order_id','dishes_name']])

行名为3的数据： order_id         417
dishes_name    芝麻烤紫菜
Name: 3, dtype: object

In [25]:
print('列名为order_id和dishes_name行名为2,3,4,5,6的数据为：',
      detail.loc[2:6,['order_id','dishes_name']])

列名为order_id和dishes_name行名为2,3,4,5,6的数据为：   order_id dishes_name
2      417        大蒜苋菜
3      417       芝麻烤紫菜
4      417         蒜香包
5      301         白斩鸡
6      301        香烤牛排

In [26]:
print('列位置为1和3，行位置为3的数据为：\n',
     detail.iloc[3,[1,3]])

列位置为1和3，行位置为3的数据为：
 order_id         417
logicprn_name     NA
Name: 3, dtype: object

In [28]:
print('列位置为1和3,行位置为2,3,4,5,6的数据为：\n',
     detail.iloc[2:7,[1,3]])

列位置为1和3,行位置为2,3,4,5,6的数据为：
   order_id logicprn_name
2      417            NA
3      417            NA
4      417            NA
5      301            NA
6      301            NA

## 实现条件切片

In [30]:
print('order_id为 的dishes_name为：\n',
     detail.loc[detail['order_id']=='458',
               ['order_id','dishes_name']])

order_id为 的dishes_name为：
     order_id dishes_name
145      458       蒜香辣花甲
146      458        剁椒鱼头
147      458     凉拌蒜蓉西兰花
148      458        木须豌豆
149      458        辣炒鱿鱼
150      458        酸辣藕丁
151      458       炝炒大白菜
152      458       香菇鸡肉粥
153      458        干锅田鸡
154      458     桂圆枸杞鸽子汤
155      458       五香酱驴肉
156      458    路易拉菲红酒干红
157      458       避风塘炒蟹
158      458       白饭/大碗

In [32]:
# 报错：接受的为布尔值Series，但是袁iloc并不包含Series
print('detail中order_id为458的第1、5列数据为：\n',
     detail.iloc[detail['order_id']=='458',[1,5]])

NotImplementedError: iLocation based boolean indexing on an integer type is not available

In [33]:
print('正确的打印\n',
     detail.iloc[(detail['order_id']=='458').values,[1,5]])

正确的打印
     order_id dishes_name
145      458       蒜香辣花甲
146      458        剁椒鱼头
147      458     凉拌蒜蓉西兰花
148      458        木须豌豆
149      458        辣炒鱿鱼
150      458        酸辣藕丁
151      458       炝炒大白菜
152      458       香菇鸡肉粥
153      458        干锅田鸡
154      458     桂圆枸杞鸽子汤
155      458       五香酱驴肉
156      458    路易拉菲红酒干红
157      458       避风塘炒蟹
158      458       白饭/大碗

In [34]:
print('列名为dishes_name行名为2,3,4,5,6',
     detail.loc[2:6,'dishes_name'])

列名为dishes_name行名为2,3,4,5,6 2     大蒜苋菜
3    芝麻烤紫菜
4      蒜香包
5      白斩鸡
6     香烤牛排
Name: dishes_name, dtype: object

In [35]:
print('列为5，行为2~6\n',
     detail.iloc[2:6,5])

列为5，行为2~6
 2     大蒜苋菜
3    芝麻烤紫菜
4      蒜香包
5      白斩鸡
Name: dishes_name, dtype: object

In [37]:
print('列位置为5,行名为2~6的数据为：\n',
     detail.ix[2:6,5])

列位置为5,行名为2~6的数据为：
 2     大蒜苋菜
3    芝麻烤紫菜
4      蒜香包
5      白斩鸡
6     香烤牛排
Name: dishes_name, dtype: object

S:\Anaconda\lib\site-packages\ipykernel_launcher.py:2: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated

In [41]:
# order_id 为 458 的变换为45800
detail.loc[detail['order_id']=='458',
          'order_id'] = '45800'
print('更改以后order_id为458的order_id为：\n',
     detail.loc[detail['order_id']=='458',
     'order_id'])
print('更改后detail中order_id为45800的order_id为：\n',
     detail.loc[detail['order_id']=='45800','order_id'])

更改以后order_id为458的order_id为：
 Series([], Name: order_id, dtype: object)
更改后detail中order_id为45800的order_id为：
 145    45800
146    45800
147    45800
148    45800
149    45800
150    45800
151    45800
152    45800
153    45800
154    45800
155    45800
156    45800
157    45800
158    45800
Name: order_id, dtype: object

In [44]:
# DataFrame新增一列非定值
detail['payment'] = detail['counts']*detail['amounts']
print('detail新增列payment的前5行：\n',detail['payment'].head())

detail新增列payment的前5行：
 0    49.0
1    48.0
2    30.0
3    25.0
4    13.0
Name: payment, dtype: float64

In [46]:
# 新增定值
detail['pay_way'] = '现金支付'
print('detail新增pay_way的前5行为：\n',
     detail['pay_way'].head())

detail新增pay_way的前5行为：
 0    现金支付
1    现金支付
2    现金支付
3    现金支付
4    现金支付
Name: pay_way, dtype: object

In [47]:
## 删除某列
print('删除前索引：\n',detail.columns)
detail.drop(labels = 'pay_way', axis =1,inplace=True)
print('删除后pay_way的列索引：\n',detail.columns)

删除前索引：
 Index(['detail_id', 'order_id', 'dishes_id', 'logicprn_name',
       'parent_class_name', 'dishes_name', 'itemis_add', 'counts', 'amounts',
       'cost', 'place_order_time', 'discount_amt', 'discount_reason',
       'kick_back', 'add_inprice', 'add_info', 'bar_code', 'picture_file',
       'emp_id', 'payment', 'pay_way'],
      dtype='object')
删除后pay_way的列索引：
 Index(['detail_id', 'order_id', 'dishes_id', 'logicprn_name',
       'parent_class_name', 'dishes_name', 'itemis_add', 'counts', 'amounts',
       'cost', 'place_order_time', 'discount_amt', 'discount_reason',
       'kick_back', 'add_inprice', 'add_info', 'bar_code', 'picture_file',
       'emp_id', 'payment'],
      dtype='object')

In [48]:
print('删除1~10行前detail的长度：',len(detail))
detail.drop(labels = range(1,11),axis=0,inplace=True)
print('删除1~10行后detail的长度：',len(detail))

删除1~10行前detail的长度： 2779
删除1~10行后detail的长度： 2769

## 描述数据

In [49]:
import numpy as np
print('平均值为：',np.mean(detail['amounts']))

平均值为： 45.343084145901045

In [50]:
print('订单详情表中amount的平均值为：',detail['amounts'].mean())

订单详情表中amount的平均值为： 45.343084145901045

In [51]:
print('订单详情表counts和amounts两列的描述性统计为：\n',
     detail[['counts','amounts']].describe())

订单详情表counts和amounts两列的描述性统计为：
             counts      amounts
count  2769.000000  2769.000000
mean      1.111593    45.343084
std       0.626521    36.841316
min       1.000000     1.000000
25%       1.000000    25.000000
50%       1.000000    35.000000
75%       1.000000    56.000000
max      10.000000   178.000000

![4-8](./4-8.jpg)

In [52]:
# 频数统计
print('订单详情表dishes_name频数统计前10为：\n',
     detail['dishes_name'].value_counts()[0:10])

订单详情表dishes_name频数统计前10为：
 白饭/大碗        91
凉拌菠菜         77
谷稻小庄         72
麻辣小龙虾        65
白饭/小碗        60
五色糯米饭(七色)    58
芝士烩波士顿龙虾     55
焖猪手          55
辣炒鱿鱼         53
水煮鱼          47
Name: dishes_name, dtype: int64

In [53]:
detail['dishes_name'] = detail['dishes_name'].astype('category')
print('dishes_name列转变数据类型后为：\n',
     detail['dishes_name'].dtype)

dishes_name列转变数据类型后为：
 category

In [55]:
print('dishes_name的描述统计结果为：\n',
     detail['dishes_name'].describe())

dishes_name的描述统计结果为：
 count      2769
unique      145
top       白饭/大碗
freq         91
Name: dishes_name, dtype: object

In [56]:
# 查看餐饮数据基本信息

In [63]:
from sqlalchemy import create_engine
import pandas as pd

engine=create_engine("mysql+pymysql://root:Cuiqin:233@localhost:3306/testdb?charset=utf8",encoding="utf-8",echo=True)
detail = pd.read_sql_table('meal_order_detail1',con = engine)
order = pd.read_table('./jo/meal_order_info.csv',
                     sep = ',', encoding='gbk')
user = pd.read_excel('./jo/users.xlsx')
print('订单详情表的维度：',detail.ndim)
print('订单信息表的维度：',order.ndim)
print('客户信息表的维度：',user.ndim)

2020-03-14 21:59:51,037 INFO sqlalchemy.engine.base.Engine SHOW VARIABLES LIKE 'sql_mode'
2020-03-14 21:59:51,038 INFO sqlalchemy.engine.base.Engine {}
2020-03-14 21:59:51,042 INFO sqlalchemy.engine.base.Engine SHOW VARIABLES LIKE 'lower_case_table_names'
2020-03-14 21:59:51,042 INFO sqlalchemy.engine.base.Engine {}
2020-03-14 21:59:51,046 INFO sqlalchemy.engine.base.Engine SELECT DATABASE()
2020-03-14 21:59:51,047 INFO sqlalchemy.engine.base.Engine {}
2020-03-14 21:59:51,048 INFO sqlalchemy.engine.base.Engine show collation where `Charset` = 'utf8mb4' and `Collation` = 'utf8mb4_bin'
2020-03-14 21:59:51,049 INFO sqlalchemy.engine.base.Engine {}
2020-03-14 21:59:51,053 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS CHAR(60)) AS anon_1
2020-03-14 21:59:51,053 INFO sqlalchemy.engine.base.Engine {}
2020-03-14 21:59:51,054 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS CHAR(60)) AS anon_1
2020-03-14 21:59:51,055 INFO sqlalchemy.engine.base.Engine {}
2020-03-14 21:59:51,056 INFO sqlalchemy.engine.base.Engine SELECT CAST('test collated returns' AS CHAR CHARACTER SET utf8mb4) COLLATE utf8mb4_bin AS anon_1
2020-03-14 21:59:51,057 INFO sqlalchemy.engine.base.Engine {}
2020-03-14 21:59:51,058 INFO sqlalchemy.engine.base.Engine SHOW FULL TABLES FROM `testdb`
2020-03-14 21:59:51,059 INFO sqlalchemy.engine.base.Engine {}
2020-03-14 21:59:51,061 INFO sqlalchemy.engine.base.Engine SHOW FULL TABLES FROM `testdb`
2020-03-14 21:59:51,062 INFO sqlalchemy.engine.base.Engine {}
2020-03-14 21:59:51,063 INFO sqlalchemy.engine.base.Engine SHOW CREATE TABLE `meal_order_detail1`
2020-03-14 21:59:51,064 INFO sqlalchemy.engine.base.Engine {}
2020-03-14 21:59:51,068 INFO sqlalchemy.engine.base.Engine SELECT meal_order_detail1.detail_id, meal_order_detail1.order_id, meal_order_detail1.dishes_id, meal_order_detail1.logicprn_name, meal_order_detail1.parent_class_name, meal_order_detail1.dishes_name, meal_order_detail1.itemis_add, meal_order_detail1.counts, meal_order_detail1.amounts, meal_order_detail1.cost, meal_order_detail1.place_order_time, meal_order_detail1.discount_amt, meal_order_detail1.discount_reason, meal_order_detail1.kick_back, meal_order_detail1.add_inprice, meal_order_detail1.add_info, meal_order_detail1.bar_code, meal_order_detail1.picture_file, meal_order_detail1.emp_id
FROM meal_order_detail1
2020-03-14 21:59:51,068 INFO sqlalchemy.engine.base.Engine {}
订单详情表的维度： 2
订单信息表的维度： 2
客户信息表的维度： 2

In [64]:
print('订单详情表形状: ',detail.shape)
print('订单详情表形状: ',order.shape)
print('客户信息表的形状为: ',user.shape)

订单详情表形状:  (2779, 19)
订单详情表形状:  (945, 21)
客户信息表的形状为:  (734, 37)

In [65]:
print('订单详情表的元素个数:',detail.size)
print('订单信息表的元素个数:',order.size)
print('客户信息表的元素个数:',user.size)

订单详情表的元素个数: 52801
订单信息表的元素个数: 19845
客户信息表的元素个数: 27158

In [67]:
# 小时的描述性统计
print('counts and amounts : \n',
     detail.loc[:,['counts','amounts']].describe())

counts and amounts :
             counts      amounts
count  2779.000000  2779.000000
mean      1.111191    45.337172
std       0.625428    36.808550
min       1.000000     1.000000
25%       1.000000    25.000000
50%       1.000000    35.000000
75%       1.000000    56.000000
max      10.000000   178.000000

In [68]:
detail['order_id'] = detail['order_id'].astype('category')
detail['dishes_name'] = detail['dishes_name'].astype('category')
print('order_id and dishes_name','\n',
     detail[['order_id','dishes_name']].describe())

order_id and dishes_name
        order_id dishes_name
count      2779        2779
unique      278         145
top         392       白饭/大碗
freq         24          92

In [75]:
# 定义一个函数剔除全为空值的标准差为0的列
def dropNullStd(data):
    beforelen = data.shape[1]
    colisNull = data.describe().loc['count'] == 0
    for i in range(len(colisNull)):
        if colisNull[i]:
            data.drop(colisNull.index[i],axis=1,inplace=True)
    stdisZero = data.describe().loc['std']==0
    for i in range(len(stdisZero)):
        if stdisZero[i]:
            data.drop(stdisZero.index[i],axis=1,inplace=True)
    afterlen = data.shape[1]
    print('剔除的列数目：',beforelen-afterlen)
    print('剔除后数据形状：',data.shape)
dropNullStd(detail)

<class 'pandas.core.series.Series'>
剔除的列数目： 0
剔除后数据形状： (2779, 19)

In [72]:
# 使用dropNullStd函数对订单信息表操作
dropNullStd(order)

剔除的列数目： 0
剔除后数据形状： (945, 14)

In [74]:
dropNullStd(user)

剔除的列数目： 0
剔除后数据形状： (734, 24)

## 4-48订单信息表时间数据转换

In [4]:
import pandas as pd
order = pd.read_table('./jo/meal_order_info.csv',sep = ',',encoding='gbk')
order['use_start_time'] = pd.to_datetime(order['use_start_time'])
order['lock_time'] = pd.to_datetime(order['lock_time'])
print('进行转换后订单信息表use_start_time和lock_time的类型为：\n',
     order[['use_start_time','lock_time']].dtypes)

进行转换后订单信息表use_start_time和lock_time的类型为：
 use_start_time    datetime64[ns]
lock_time         datetime64[ns]
dtype: object

In [7]:
import sys
year = [i.year for i in order['lock_time']]
month = [i.month for i in order['lock_time']]
day = [i.day for i in order['lock_time']]
week = [i.week for i in order['lock_time']]
weekday = [i.weekday() for i in order['lock_time']]

weekname = [i.weekday_name for i in order['lock_time']]
print('前五条年份',year[:5])
print('前五条月份',month[:5])
print('前五条日期',day[:5])
print('前五条周信息',week[:5])
print('前五条星期信息',weekday[:5])
print('前五条星期名称',weekname[:5])

前五条年份 [2016, 2016, 2016, 2016, 2016]
前五条月份 [8, 8, 8, 8, 8]
前五条日期 [1, 1, 1, 1, 1]
前五条周信息 [31, 31, 31, 31, 31]
前五条星期信息 [0, 0, 0, 0, 0]
前五条星期名称 ['Monday', 'Monday', 'Monday', 'Monday', 'Monday']

S:\Anaconda\lib\site-packages\ipykernel_launcher.py:8: FutureWarning: `weekday_name` is deprecated and will be removed in a future version. Use `day_name` instead

In [9]:
## 查订单信息表时间统计信息
timemin = order['lock_time'].min()
timemax = order['lock_time'].max()
print('最早',timemin)
print('最晚',timemax)
print('持续时间',timemax-timemin)

最早 2016-08-01 11:11:46
最晚 2016-08-31 21:56:12
持续时间 30 days 10:44:26

In [10]:
checkTime = order['lock_time'] - order['use_start_time']
print('平均点餐',checkTime.mean())
print('最短点餐',checkTime.min())
print('最长点餐时间为',checkTime.max())

平均点餐 0 days 01:12:10.326923
最短点餐 -1 days +00:05:03
最长点餐时间为 16 days 00:08:00