In [39]:
import numpy as np
import pandas as pd

In [40]:
stu_dic = {'Age':[14,13,13,14,14,12,12,15,13,12,11,14,12,15,16,12,15,11,15],
'Height':[69,56.5,65.3,62.8,63.5,57.3,59.8,62.5,62.5,59,51.3,64.3,56.3,66.5,72,64.8,67,57.5,66.5],
'Name':['Alfred','Alice','Barbara','Carol','Henry','James','Jane','Janet','Jeffrey','John','Joyce','Judy','Louise','Marry','Philip','Robert','Ronald','Thomas','Willam'],
'Sex':['M','F','F','F','M','M','F','F','M','M','F','F','F','F','M','M','M','M','M'],
'Weight':[112.5,84,98,102.5,102.5,83,84.5,112.5,84,99.5,50.5,90,77,112,150,128,133,85,112]}
student = pd.DataFrame(stu_dic)
print(student)

    Age  Height     Name Sex  Weight
0    14    69.0   Alfred   M   112.5
1    13    56.5    Alice   F    84.0
2    13    65.3  Barbara   F    98.0
3    14    62.8    Carol   F   102.5
4    14    63.5    Henry   M   102.5
5    12    57.3    James   M    83.0
6    12    59.8     Jane   F    84.5
7    15    62.5    Janet   F   112.5
8    13    62.5  Jeffrey   M    84.0
9    12    59.0     John   M    99.5
10   11    51.3    Joyce   F    50.5
11   14    64.3     Judy   F    90.0
12   12    56.3   Louise   F    77.0
13   15    66.5    Marry   F   112.0
14   16    72.0   Philip   M   150.0
15   12    64.8   Robert   M   128.0
16   15    67.0   Ronald   M   133.0
17   11    57.5   Thomas   M    85.0
18   15    66.5   Willam   M   112.0

In [41]:
# 实现SQL操作
dic = {'Name':['cuiqin','liumengjie'],'Sex':['M','F'],'Age':[19,7],'Height':[175,162],'Weight':[61,45]}
cp = pd.DataFrame(dic)
print(cp)

         Name Sex  Age  Height  Weight
0      cuiqin   M   19     175      61
1  liumengjie   F    7     162      45

In [42]:
# 数据框连接:新增行数据
students = pd.concat([student,cp])
print(students)

    Age  Height        Name Sex  Weight
0    14    69.0      Alfred   M   112.5
1    13    56.5       Alice   F    84.0
2    13    65.3     Barbara   F    98.0
3    14    62.8       Carol   F   102.5
4    14    63.5       Henry   M   102.5
5    12    57.3       James   M    83.0
6    12    59.8        Jane   F    84.5
7    15    62.5       Janet   F   112.5
8    13    62.5     Jeffrey   M    84.0
9    12    59.0        John   M    99.5
10   11    51.3       Joyce   F    50.5
11   14    64.3        Judy   F    90.0
12   12    56.3      Louise   F    77.0
13   15    66.5       Marry   F   112.0
14   16    72.0      Philip   M   150.0
15   12    64.8      Robert   M   128.0
16   15    67.0      Ronald   M   133.0
17   11    57.5      Thomas   M    85.0
18   15    66.5      Willam   M   112.0
0    19   175.0      cuiqin   M    61.0
1     7   162.0  liumengjie   F    45.0

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

In [43]:
# 新增列数据
print(pd.DataFrame(students,columns=['Age','Height','Name','Sex','Weight','Score'])) # 直接在开头引入名称即可

    Age  Height        Name Sex  Weight  Score
0    14    69.0      Alfred   M   112.5    NaN
1    13    56.5       Alice   F    84.0    NaN
2    13    65.3     Barbara   F    98.0    NaN
3    14    62.8       Carol   F   102.5    NaN
4    14    63.5       Henry   M   102.5    NaN
5    12    57.3       James   M    83.0    NaN
6    12    59.8        Jane   F    84.5    NaN
7    15    62.5       Janet   F   112.5    NaN
8    13    62.5     Jeffrey   M    84.0    NaN
9    12    59.0        John   M    99.5    NaN
10   11    51.3       Joyce   F    50.5    NaN
11   14    64.3        Judy   F    90.0    NaN
12   12    56.3      Louise   F    77.0    NaN
13   15    66.5       Marry   F   112.0    NaN
14   16    72.0      Philip   M   150.0    NaN
15   12    64.8      Robert   M   128.0    NaN
16   15    67.0      Ronald   M   133.0    NaN
17   11    57.5      Thomas   M    85.0    NaN
18   15    66.5      Willam   M   112.0    NaN
0    19   175.0      cuiqin   M    61.0    NaN
1     7   162.0  liumengjie   F    45.0    NaN

In [44]:
# 删除
del students
print(students)

NameError: name 'students' is not defined

In [45]:
# 删除指定的行
print(student)

    Age  Height     Name Sex  Weight
0    14    69.0   Alfred   M   112.5
1    13    56.5    Alice   F    84.0
2    13    65.3  Barbara   F    98.0
3    14    62.8    Carol   F   102.5
4    14    63.5    Henry   M   102.5
5    12    57.3    James   M    83.0
6    12    59.8     Jane   F    84.5
7    15    62.5    Janet   F   112.5
8    13    62.5  Jeffrey   M    84.0
9    12    59.0     John   M    99.5
10   11    51.3    Joyce   F    50.5
11   14    64.3     Judy   F    90.0
12   12    56.3   Louise   F    77.0
13   15    66.5    Marry   F   112.0
14   16    72.0   Philip   M   150.0
15   12    64.8   Robert   M   128.0
16   15    67.0   Ronald   M   133.0
17   11    57.5   Thomas   M    85.0
18   15    66.5   Willam   M   112.0

##### student = student.drop([4,18])
print(student.drop([1,2,3,4,5,6]))

In [47]:
# 选择删除
## 条件删除
print(student[student['Age']>14])

    Age  Height    Name Sex  Weight
7    15    62.5   Janet   F   112.5
13   15    66.5   Marry   F   112.0
14   16    72.0  Philip   M   150.0
16   15    67.0  Ronald   M   133.0
18   15    66.5  Willam   M   112.0

In [48]:
# 删除指定的行
print(student.drop(['Height','Weight'],axis=1).head()) # 调整axis参数值，注意默认是0，就是默认是序列号

   Age     Name Sex
0   14   Alfred   M
1   13    Alice   F
2   13  Barbara   F
3   14    Carol   F
4   14    Henry   M

In [49]:
# 修改默认的值
print(cp)

         Name Sex  Age  Height  Weight
0      cuiqin   M   19     175      61
1  liumengjie   F    7     162      45

In [50]:
cp.loc[cp['Name'] == 'liumengjie','Age']=19
print(cp[cp['Name'] == 'liumengjie'][['Name','Sex','Age']])

         Name Sex  Age
1  liumengjie   F   19

In [51]:
# 聚合排序
print(student.groupby('Sex').mean()) # 求关于sex列的数据的对应的数据的身高和体重的平均值

           Age     Height      Weight
Sex
F    13.222222  60.588889   90.111111
M    13.400000  63.910000  108.950000

In [52]:
# 分组+多个统计量
print(student.drop('Age',axis=1).groupby('Sex').agg([np.mean,np.median]))

        Height             Weight
          mean median        mean  median
Sex
F    60.588889  62.50   90.111111   90.00
M    63.910000  64.15  108.950000  107.25

In [53]:
# sort tools
Data = pd.Series(np.array(np.random.randint(1,20,10)))
print(Data)

0     8
1     5
2    16
3     9
4     6
5     1
6    15
7    15
8    16
9     1
dtype: int32

In [54]:
print(Data.sort_index()) # index sort

0     8
1     5
2    16
3     9
4     6
5     1
6    15
7    15
8    16
9     1
dtype: int32

In [55]:
print(Data.sort_values(ascending=False)) # values sort

8    16
2    16
7    15
6    15
3     9
0     8
4     6
1     5
9     1
5     1
dtype: int32

In [56]:
print(student)

    Age  Height     Name Sex  Weight
0    14    69.0   Alfred   M   112.5
1    13    56.5    Alice   F    84.0
2    13    65.3  Barbara   F    98.0
3    14    62.8    Carol   F   102.5
4    14    63.5    Henry   M   102.5
5    12    57.3    James   M    83.0
6    12    59.8     Jane   F    84.5
7    15    62.5    Janet   F   112.5
8    13    62.5  Jeffrey   M    84.0
9    12    59.0     John   M    99.5
10   11    51.3    Joyce   F    50.5
11   14    64.3     Judy   F    90.0
12   12    56.3   Louise   F    77.0
13   15    66.5    Marry   F   112.0
14   16    72.0   Philip   M   150.0
15   12    64.8   Robert   M   128.0
16   15    67.0   Ronald   M   133.0
17   11    57.5   Thomas   M    85.0
18   15    66.5   Willam   M   112.0

In [57]:
# sort by values
print(student.sort_values(by = ['Age','Height'])) # 先对age排序，再在排好序的age中排序height

    Age  Height     Name Sex  Weight
10   11    51.3    Joyce   F    50.5
17   11    57.5   Thomas   M    85.0
12   12    56.3   Louise   F    77.0
5    12    57.3    James   M    83.0
9    12    59.0     John   M    99.5
6    12    59.8     Jane   F    84.5
15   12    64.8   Robert   M   128.0
1    13    56.5    Alice   F    84.0
8    13    62.5  Jeffrey   M    84.0
2    13    65.3  Barbara   F    98.0
3    14    62.8    Carol   F   102.5
4    14    63.5    Henry   M   102.5
11   14    64.3     Judy   F    90.0
0    14    69.0   Alfred   M   112.5
7    15    62.5    Janet   F   112.5
13   15    66.5    Marry   F   112.0
18   15    66.5   Willam   M   112.0
16   15    67.0   Ronald   M   133.0
14   16    72.0   Philip   M   150.0

In [63]:
# 数据库连接中的内连接和外连接
dic2 = {'Name':['Alfred','Alice','Barbara','Carol','Henry','Jeffrey','Judy','Philip','Robert','Willam'],
        'Score':[88,76,89,67,79,90,92,86,73,77]}
score = pd.DataFrame(dic2)
print(score)

      Name  Score
0   Alfred     88
1    Alice     76
2  Barbara     89
3    Carol     67
4    Henry     79
5  Jeffrey     90
6     Judy     92
7   Philip     86
8   Robert     73
9   Willam     77

In [65]:
# 两个表关联
stu_score1 = pd.merge(student,score, on='Name') # only on view in successfully connecting
print(stu_score1)

   Age  Height     Name Sex  Weight  Score
0   14    69.0   Alfred   M   112.5     88
1   13    56.5    Alice   F    84.0     76
2   13    65.3  Barbara   F    98.0     89
3   14    62.8    Carol   F   102.5     67
4   14    63.5    Henry   M   102.5     79
5   13    62.5  Jeffrey   M    84.0     90
6   14    64.3     Judy   F    90.0     92
7   16    72.0   Philip   M   150.0     86
8   12    64.8   Robert   M   128.0     73
9   15    66.5   Willam   M   112.0     77

In [66]:
 # default as 'left' and 能匹配多少就匹配多少，匹配不到的显示为NaN
# merge 实现的是两个表的内连接 merge(table1,table2,on=value_name,how=methods(['left','right','outer']))
stu_score2 = pd.merge(student,score, on='Name', how='left')
print(stu_score2)

    Age  Height     Name Sex  Weight  Score
0    14    69.0   Alfred   M   112.5   88.0
1    13    56.5    Alice   F    84.0   76.0
2    13    65.3  Barbara   F    98.0   89.0
3    14    62.8    Carol   F   102.5   67.0
4    14    63.5    Henry   M   102.5   79.0
5    12    57.3    James   M    83.0    NaN
6    12    59.8     Jane   F    84.5    NaN
7    15    62.5    Janet   F   112.5    NaN
8    13    62.5  Jeffrey   M    84.0   90.0
9    12    59.0     John   M    99.5    NaN
10   11    51.3    Joyce   F    50.5    NaN
11   14    64.3     Judy   F    90.0   92.0
12   12    56.3   Louise   F    77.0    NaN
13   15    66.5    Marry   F   112.0    NaN
14   16    72.0   Philip   M   150.0   86.0
15   12    64.8   Robert   M   128.0   73.0
16   15    67.0   Ronald   M   133.0    NaN
17   11    57.5   Thomas   M    85.0    NaN
18   15    66.5   Willam   M   112.0   77.0

In [67]:
# 填补数据 for tthree methods :

In [68]:
# 删除法
s = stu_score2['Score']
print(s)

0     88.0
1     76.0
2     89.0
3     67.0
4     79.0
5      NaN
6      NaN
7      NaN
8     90.0
9      NaN
10     NaN
11    92.0
12     NaN
13     NaN
14    86.0
15    73.0
16     NaN
17     NaN
18    77.0
Name: Score, dtype: float64

In [70]:
# check how many values was lost
print(sum(pd.isnull(s)))

9

In [71]:
# and del them
print(s.dropna()) # dropna = drop null all

0     88.0
1     76.0
2     89.0
3     67.0
4     79.0
8     90.0
11    92.0
14    86.0
15    73.0
18    77.0
Name: Score, dtype: float64

In [74]:
df = pd.DataFrame([[1,1,2],[3,5,np.nan],[13,21,34],[55,np.nan,10],[np.nan,np.nan,np.nan],[np.nan,1,2]],columns=('x1','x2','x3'))
print(df)
print("after:")
print(df.dropna()) # 只要包含NaN，就删除对应行

     x1    x2    x3
0   1.0   1.0   2.0
1   3.0   5.0   NaN
2  13.0  21.0  34.0
3  55.0   NaN  10.0
4   NaN   NaN   NaN
5   NaN   1.0   2.0
after:
     x1    x2    x3
0   1.0   1.0   2.0
2  13.0  21.0  34.0

In [75]:
# 填补法
print(df.fillna(0))

     x1    x2    x3
0   1.0   1.0   2.0
1   3.0   5.0   0.0
2  13.0  21.0  34.0
3  55.0   0.0  10.0
4   0.0   0.0   0.0
5   0.0   1.0   2.0

In [76]:
print("前项填充")
print(df.fillna(method='ffill'))
print("后项填充")
print(df.fillna(method='bfill'))

前项填充
     x1    x2    x3
0   1.0   1.0   2.0
1   3.0   5.0   2.0
2  13.0  21.0  34.0
3  55.0  21.0  10.0
4  55.0  21.0  10.0
5  55.0   1.0   2.0
后项填充
     x1    x2    x3
0   1.0   1.0   2.0
1   3.0   5.0  34.0
2  13.0  21.0  34.0
3  55.0   1.0  10.0
4   NaN   1.0   2.0
5   NaN   1.0   2.0

In [77]:
print("使用常量填充不同的列")
print(df.fillna({'x1':1,'x2':2,'x3':3}))

使用常量填充不同的列
     x1    x2    x3
0   1.0   1.0   2.0
1   3.0   5.0   3.0
2  13.0  21.0  34.0
3  55.0   2.0  10.0
4   1.0   2.0   3.0
5   1.0   1.0   2.0

In [79]:
# 使用统计量填充更加合理：众数、均值、中位数
x1_median = df['x1'].median()
x2_mean = df['x2'].mean()
x3_mean = df['x3'].mean()

print("x1_median:",x1_median)
print("x2_mean:",x2_mean)
print("x3_mean:",x3_mean)
print(df.fillna({'x1':x1_median,'x2':x2_mean,'x3':x3_mean})) # x1 fill in median, x2 fill in mean, x3 fill in mean

x1_median: 8.0
x2_mean: 7.0
x3_mean: 12.0
     x1    x2    x3
0   1.0   1.0   2.0
1   3.0   5.0  12.0
2  13.0  21.0  34.0
3  55.0   7.0  10.0
4   8.0   7.0  12.0
5   8.0   1.0   2.0

In [81]:
# operate the excel table
# pivot_table(data,values=None,index=None,aggfunc='mean',fill_value=None,margins=False,dropna=True,margins_name='All')
print(student)

    Age  Height     Name Sex  Weight
0    14    69.0   Alfred   M   112.5
1    13    56.5    Alice   F    84.0
2    13    65.3  Barbara   F    98.0
3    14    62.8    Carol   F   102.5
4    14    63.5    Henry   M   102.5
5    12    57.3    James   M    83.0
6    12    59.8     Jane   F    84.5
7    15    62.5    Janet   F   112.5
8    13    62.5  Jeffrey   M    84.0
9    12    59.0     John   M    99.5
10   11    51.3    Joyce   F    50.5
11   14    64.3     Judy   F    90.0
12   12    56.3   Louise   F    77.0
13   15    66.5    Marry   F   112.0
14   16    72.0   Philip   M   150.0
15   12    64.8   Robert   M   128.0
16   15    67.0   Ronald   M   133.0
17   11    57.5   Thomas   M    85.0
18   15    66.5   Willam   M   112.0

In [84]:
Table = pd.pivot_table(student, values=['Height','Weight'],columns=['Sex','Age']).unstack()
print("means in different age, height and weight")
print(Table)

means in different age, height and weight
Age           11          12    13      14      15     16
       Sex
Height F    51.3   58.050000  60.9   63.55   64.50    NaN
       M    57.5   60.366667  62.5   66.25   66.75   72.0
Weight F    50.5   80.750000  91.0   96.25  112.25    NaN
       M    85.0  103.500000  84.0  107.50  122.50  150.0

In [87]:
Table_more = pd.pivot_table(student,values=['Height','Weight'],columns=['Sex'],aggfunc=[np.mean,np.median,np.std])
print(Table_more)

             mean         median                std
Sex             F       M      F       M          F          M
Height  60.588889   63.91   62.5   64.15   5.018328   4.937937
Weight  90.111111  108.95   90.0  107.25  19.383914  22.727186

In [89]:
# 高维数据转换成为低维数据，多层索引也可以转换成为数据框的形式
s = pd.Series(np.arange(1,10),index=[["a","a","a","b","b","c","c","d","d"],[1,2,3,1,2,3,1,2,3]])
print(s)
print(s.index)

a  1    1
   2    2
   3    3
b  1    4
   2    5
c  3    6
   1    7
d  2    8
   3    9
dtype: int32
MultiIndex([('a', 1),
            ('a', 2),
            ('a', 3),
            ('b', 1),
            ('b', 2),
            ('c', 3),
            ('c', 1),
            ('d', 2),
            ('d', 3)],
           )

In [93]:
print(s['a'])
print(s['a',1])
print(s['a'][[1,2]])

1    1
2    2
3    3
dtype: int32
1
1    1
2    2
dtype: int32

In [95]:
# 将Series 转化成数据框，残缺的数据用NaN填补
print(s.unstack())

     1    2    3
a  1.0  2.0  3.0
b  4.0  5.0  NaN
c  7.0  NaN  6.0
d  NaN  8.0  9.0

In [96]:
# if you want to know more operation you can search for them

In [97]:
# 层次化索引
data = pd.DataFrame(np.random.randint(0,150,size=(8,12)),
               columns = pd.MultiIndex.from_product([['模拟考','正式考'],
                                                   ['数学','语文','英语','物理','化学','生物']]),
               index = pd.MultiIndex.from_product([['期中','期末'],
                                                   ['崔秦','刘梦洁'],
                                                  ['测试一','测试二']]))
data

            模拟考                           正式考
             数学   语文   英语   物理   化学   生物   数学  语文   英语   物理   化学   生物
期中 崔秦  测试一   37   17   85   58   20  131   51  66   32    9   72  124
       测试二   63   62  112   86  115   31   17  35  127   44  113  102
   刘梦洁 测试一  112   15  104  134   46  132  126  99   31  100  100   44
       测试二   28   71  141   66    1   61   99  49   45   86   38   43
期末 崔秦  测试一   23  103   65  118   30   20   69   3  125  100  147  110
       测试二   54   71   76   44    4   85    6  10  103   22   59  132
   刘梦洁 测试一   85   90   23   89  134   11  110  14   18  107   69   20
       测试二   83    7  109   65  141  119   40  83  146  131   85   75

In [98]:
data['模拟考'][['语文','数学']]

             语文   数学
期中 崔秦  测试一   17   37
       测试二   62   63
   刘梦洁 测试一   15  112
       测试二   71   28
期末 崔秦  测试一  103   23
       测试二   71   54
   刘梦洁 测试一   90   85
       测试二    7   83

In [101]:
# method one
print(data.loc['期中','崔秦','测试一'])

模拟考  数学     37
     语文     17
     英语     85
     物理     58
     化学     20
     生物    131
正式考  数学     51
     语文     66
     英语     32
     物理      9
     化学     72
     生物    124
Name: (期中, 崔秦, 测试一), dtype: int32

In [102]:
# method two
print(data.iloc[0])

模拟考  数学     37
     语文     17
     英语     85
     物理     58
     化学     20
     生物    131
正式考  数学     51
     语文     66
     英语     32
     物理      9
     化学     72
     生物    124
Name: (期中, 崔秦, 测试一), dtype: int32

In [103]:
data['正式考']

             数学  语文   英语   物理   化学   生物
期中 崔秦  测试一   51  66   32    9   72  124
       测试二   17  35  127   44  113  102
   刘梦洁 测试一  126  99   31  100  100   44
       测试二   99  49   45   86   38   43
期末 崔秦  测试一   69   3  125  100  147  110
       测试二    6  10  103   22   59  132
   刘梦洁 测试一  110  14   18  107   69   20
       测试二   40  83  146  131   85   75