In [2]:
# create series

In [3]:
import numpy as np, pandas as pd

In [4]:
# method one: pandas.Series(arr)
arr1 = np.arange(10)
print(arr1)
print(type(arr1))

[0 1 2 3 4 5 6 7 8 9]
<class 'numpy.ndarray'>

In [5]:
s1 = pd.Series(arr1)
print(s1)
print(type(s1))

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int32
<class 'pandas.core.series.Series'>

In [6]:
# dictionary
dic1 = {'a':10,'b':20,'c':30,'d':40,'e':50}
print(dic1)
print(type(dic1))

{'a': 10, 'b': 20, 'c': 30, 'd': 40, 'e': 50}
<class 'dict'>

In [7]:
# DataFrame (actually it can also be used in excel?)
arr2 = np.array(np.arange(12)).reshape(4,3)
print(arr2)
print(type(arr2))

[[ 0  1  2]
 [ 3  4  5]
 [ 6  7  8]
 [ 9 10 11]]
<class 'numpy.ndarray'>

In [8]:
df1 = pd.DataFrame(arr2)
print(df1)
print(type(df1))

   0   1   2
0  0   1   2
1  3   4   5
2  6   7   8
3  9  10  11
<class 'pandas.core.frame.DataFrame'>

In [9]:
# created by dictionary
dic2 = {'a':[1,2,3,4],'b':[5,6,7,8],'c':[9,10,11,12],'d':[13,14,15,16]}
print(dic2)
print(type(dic2))

{'a': [1, 2, 3, 4], 'b': [5, 6, 7, 8], 'c': [9, 10, 11, 12], 'd': [13, 14, 15, 16]}
<class 'dict'>

In [10]:
df2 = pd.DataFrame(dic2)
print(df2)
print(type(df2))

   a  b   c   d
0  1  5   9  13
1  2  6  10  14
2  3  7  11  15
3  4  8  12  16
<class 'pandas.core.frame.DataFrame'>

In [11]:
# 就是穿件了每个列行所代表的意思，可以操作excel了
dic3 = {'one':{'a':1,'b':2,'c':3,'d':4},
        'two':{'a':5,'b':6,'c':7,'d':8},
        'three':{'a':9,'b':10,'c':11,'d':12}}
print(dic3)
print(type(dic3))

# dic3 = {'one':{'a':1,'b':2,'c':3,'d':4},
#         'two':{'a':5,'b':6,'c':7,'d':8},
#         'three':{'a':9,'b':10,'c':11,'d':12}}
# print(dic3)
# print(type(dic3))

{'one': {'a': 1, 'b': 2, 'c': 3, 'd': 4}, 'two': {'a': 5, 'b': 6, 'c': 7, 'd': 8}, 'three': {'a': 9, 'b': 10, 'c': 11, 'd': 12}}
<class 'dict'>

In [12]:
df3 = pd.DataFrame(dic3)
print(df3)
print(type(df3))

   one  two  three
a    1    5      9
b    2    6     10
c    3    7     11
d    4    8     12
<class 'pandas.core.frame.DataFrame'>

In [13]:
# craete frame by dataframe's method
df4 = df3[['one','two','three']] # there are not others such as four , five , six , ...
print(df4)

   one  two  three
a    1    5      9
b    2    6     10
c    3    7     11
d    4    8     12

In [14]:
s3 = df3['one']
print(s3)
print(type(s3))

a    1
b    2
c    3
d    4
Name: one, dtype: int64
<class 'pandas.core.series.Series'>

In [15]:
# index's convenent ways
s4 = pd.Series(np.array([1,1,2,3,5,8]))
print(s4)

0    1
1    1
2    2
3    3
4    5
5    8
dtype: int32

In [16]:
print(s4.index)
s4.index = ['a','b','c','d','e','f']
print(s4)
print(s4[3]) # 自动建立的索引
print(s4['e']) # 自定义建立的索引
print(s4[[1,3,5]]) # 打印索引以及
# 也可以进行切片操作等

RangeIndex(start=0, stop=6, step=1)
a    1
b    1
c    2
d    3
e    5
f    8
dtype: int32
3
5
b    1
d    3
f    8
dtype: int32

In [18]:
# 自动化对齐
s5 = pd.Series(np.array([10,15,20,30,55,80]),index = ['a','b','c','d','e','f'])
print(s5)
s6 = pd.Series(np.array([12,11,13,15,14,16]),index = ['a','c','g','b','d','f'])
print(s6)
print("按照索引计算结果")
print(s5 + s6)
print(s5/s6)

a    10
b    15
c    20
d    30
e    55
f    80
dtype: int32
a    12
c    11
g    13
b    15
d    14
f    16
dtype: int32
a    22.0
b    30.0
c    31.0
d    44.0
e     NaN
f    96.0
g     NaN
dtype: float64
a    0.833333
b    1.000000
c    1.818182
d    2.142857
e         NaN
f    5.000000
g         NaN
dtype: float64

In [37]:
stu_dic = {'Age':[14,13,13,14,14,12,12,15,13,12,11,14,12,15,16,12,15,11,15],
'Height':[69,56.5,65.3,62.8,63.5,57.3,59.8,62.5,62.5,59,51.3,64.3,56.3,66.5,72,64.8,67,57.5,66.5],
'Name':['Alfred','Alice','Barbara','Carol','Henry','James','Jane','Janet','Jeffrey','John','Joyce','Judy','Louise','Marry','Philip','Robert','Ronald','Thomas','Willam'],
'Sex':['M','F','F','F','M','M','F','F','M','M','F','F','F','F','M','M','M','M','M'],
'Weight':[112.5,84,98,102.5,102.5,83,84.5,112.5,84,99.5,50.5,90,77,112,150,128,133,85,112]}
student = pd.DataFrame(stu_dic)
print("前五行")
print(student.head())
print("后五行")
print(student.tail())

前五行
   Age  Height     Name Sex  Weight
0   14    69.0   Alfred   M   112.5
1   13    56.5    Alice   F    84.0
2   13    65.3  Barbara   F    98.0
3   14    62.8    Carol   F   102.5
4   14    63.5    Henry   M   102.5
后五行
    Age  Height    Name Sex  Weight
14   16    72.0  Philip   M   150.0
15   12    64.8  Robert   M   128.0
16   15    67.0  Ronald   M   133.0
17   11    57.5  Thomas   M    85.0
18   15    66.5  Willam   M   112.0

In [38]:
# 根据索引查询指定行数据，单行
print(student.loc[2]) # 注意区别
# loc[[]]多行
print(student.loc[[2,4,5]])
# 根据索引查询指定列数据
print(student["Name"].head()) # 注意区别！
print(student[["Name","Sex"]].head())

Age            13
Height       65.3
Name      Barbara
Sex             F
Weight         98
Name: 2, dtype: object
   Age  Height     Name Sex  Weight
2   13    65.3  Barbara   F    98.0
4   14    63.5    Henry   M   102.5
5   12    57.3    James   M    83.0
0     Alfred
1      Alice
2    Barbara
3      Carol
4      Henry
Name: Name, dtype: object
      Name Sex
0   Alfred   M
1    Alice   F
2  Barbara   F
3    Carol   F
4    Henry   M

In [39]:
# 也可使用查询列 loc[row_index,[col_name]]
print(student.loc[:,["Name"]].head())

      Name
0   Alfred
1    Alice
2  Barbara
3    Carol
4    Henry

In [47]:
# 复合条件查询
print(student[(student['Sex']=='F')&(student['Age']>12)])
print(student[(student['Sex']=='F')&(student['Age']>12)][['Name','Height','Weight']])

    Age  Height     Name Sex  Weight
1    13    56.5    Alice   F    84.0
2    13    65.3  Barbara   F    98.0
3    14    62.8    Carol   F   102.5
7    15    62.5    Janet   F   112.5
11   14    64.3     Judy   F    90.0
13   15    66.5    Marry   F   112.0
       Name  Height  Weight
1     Alice    56.5    84.0
2   Barbara    65.3    98.0
3     Carol    62.8   102.5
7     Janet    62.5   112.5
11     Judy    64.3    90.0
13    Marry    66.5   112.0

In [49]:
# 统计分析函数模板
def stats(x):
	return pd.Series([x.count(),x.min(),x.idxmin(),x.quantile(.25),x.median(),x.quantile(.75),
                      x.mean(),x.max(),x.idxmax(),x.mad(),x.var(),x.std(),x.skew(),x.kurt()],
                     index = ['Count','Min','Whicn_Min','Q1','Median','Q3','Mean','Max',
                              'Which_Max','Mad','Var','Std','Skew','Kurt'])

In [56]:
np.random.seed(1234)
d = pd.Series(2*np.random.normal(size = 120)+3)
print(stats(d)) # 自定义描述指标
print(d.describe()) # 输出多个统计指标 只针对序列或者数据框，一维数组不能如此操作
print(d)

Count        120.000000
Min           -4.127033
Whicn_Min     81.000000
Q1             2.063321
Median         3.277344
Q3             4.408703
Mean           3.068018
Max            7.781921
Which_Max     39.000000
Mad            1.496662
Var            3.844983
Std            1.960863
Skew          -0.651704
Kurt           1.070332
dtype: float64
count    120.000000
mean       3.068018
std        1.960863
min       -4.127033
25%        2.063321
50%        3.277344
75%        4.408703
max        7.781921
dtype: float64
0      3.942870
1      0.618049
2      5.865414
3      2.374696
4      1.558823
         ...
115    2.635649
116    4.361312
117   -0.636998
118    3.094143
119    3.789688
Length: 120, dtype: float64

In [57]:
# 当同时处理多行数据时
d1 = np.random.f(2,4,size=120) # 从2~4的浮点数
d2 = np.random.randint(1,100,size=120) # 从1~100的随机整数

In [59]:
# 构建二维数据框
df = pd.DataFrame(np.array([d,d1,d2]).T,columns=['x1','x2','x3'])
print(df.head())

         x1         x2    x3
0  3.942870   0.046797  50.0
1  0.618049   2.112932  32.0
2  5.865414  13.275777  44.0
3  2.374696   1.010520  25.0
4  1.558823   1.429254  84.0